<div id="search-section" class='palm-dark'>
	<!-- <div class="palm-page-header spaz-page-header">
		<div class="palm-page-header-wrapper">
			<div id="appIcon" class="img_icon"></div>
			<div class="title">
				Search and Explore
			</div>
		</div>		
	</div> -->

	<!-- <button class="palm-button dismiss" id="back-search-button">&laquo; Back</button> -->
	
	
	<div id="search-accordion"> 

		<!--
			Search panel
		-->
	    <table class="palm-divider collapsible" x-mojo-tap-highlight="momentary">
			<tbody>
				<tr>
					<td class="left"></td>
					<td class="label"> Search </td>
					<td class="line" width="100%"></td>
					<td><div class="palm-arrow-closed arrow_button"></div></td>
					<td class="right"></td>
				</tr>
			</tbody>
		</table> 
	    <div class="pane">
			<div class="palm-group palm-group-spaz">
				<div class="palm-group-title" id="search-toggle" x-mojo-loc=''>Search</div>
				<div class="palm-list" id="search-panel">
			   		<div class="palm-row single">
						<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
							<div class="title">
									<!-- <div class="label">
										search terms
									</div> -->
			      				<div id="search" name="search"  x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
					
			   		<div class="palm-row single">
						<button class="palm-button" id="search-button">Search</button>
					</div>
				</div>
			</div>
		</div> 

		<!--
			Saved searches
			* this is hidden initially because we only show it if logged-in
		-->
		<div id="saved-searches-container" style="display:none">
		    <table class="palm-divider collapsible" x-mojo-tap-highlight="momentary">
				<tbody>
					<tr>
						<td class="left"></td>
						<td class="label"> Saved Searches </td>
						<td class="line" width="100%"></td>
						<td><div class="palm-arrow-closed arrow_button"></div></td>
						<td class="right"></td>
					</tr>
				</tbody>
			</table> 
		    <div class="pane">
				<div class="palm-group palm-group-spaz">
					<div class="palm-group-title" id="search-toggle" x-mojo-loc=''>Your Saved Searches</div>
					<div class="palm-list">
						<div id="searches-list"></div>
						<div id="searches-spinner-container"></div>
						<div class="palm-row single">
							<div x-mojo-element="Button" id='reload-searches-button'></div>
						</div>
					</div>
				</div>
			</div> 
		</div>

		<!--
			Trends panel
		-->
	    <table class="palm-divider collapsible" x-mojo-tap-highlight="momentary">
			<tbody>
				<tr>
					<td class="left"></td>
					<td class="label"> Trends </td>
					<td class="line" width="100%"></td>
					<td><div class="palm-arrow-closed arrow_button"></div></td>
					<td class="right"></td>
				</tr>
			</tbody>
		</table>
	    <div class="pane">
			<div class="palm-group palm-group-spaz">
				<div class="palm-group-title" x-mojo-loc=''>Current Trends on Twitter</div>
				<div class="palm-list">
					<div id="trends-list"></div>
					<div id="trends-spinner-container"></div>
					<div class="palm-row single">
						<div x-mojo-element="Button" id='reload-trends-button'></div>
					</div>
				</div>
			</div>
		</div> 


		<!--
			Public timeline
		-->
	    <table class="palm-divider collapsible" x-mojo-tap-highlight="momentary">
			<tbody>
				<tr>
					<td class="left"></td>
					<td class="label"> Public Timeline </td>
					<td class="line" width="100%"></td>
					<td><div class="palm-arrow-closed arrow_button"></div></td>
					<td class="right"></td>
				</tr>
			</tbody>
		</table>
	    <div class="pane">
			<div id="public-timeline" class="timeline">
			</div>
		</div> 

	</div>

	
</div>