<div class="dashboard-notification-module"> 
    <div class="palm-dashboard-icon-container"> 
        <div class="dashboard-newitem"> 
            <span>#{count_total}</span> 
        </div> 
        <div id="dashboard-icon" class="palm-dashboard-icon"></div> 
    </div> 
    <div class="palm-dashboard-text-container"> 
        <div class="dashboard-title"> 
          #{title} 
        </div> 
       <span id='dashboard-text-dm' class="palm-dashboard-text">#{count_dm} #{message_dm}</span> &#x2022; 
       <span id='dashboard-text-mention' class="palm-dashboard-text">#{count_mention} #{message_mention}</span> &#x2022;
       <span id='dashboard-text-home' class="palm-dashboard-text">#{count_home} #{message_home}</span> 
    </div> 
</div>
