<div class="palm-dark">
	<!-- <div class="palm-page-header spaz-page-header">
		<div class="palm-page-header-wrapper">
			<div id="appIcon" class="img_icon"></div>
			<div class="title">
				Search
			</div>
		</div>		
	</div> -->

<div class='palm-row single' id="search-row">
	<div class="palm-row-wrapper">
		<div class="textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div id="search-twitter-textfield" x-mojo-element="TextField"></div>
			</div>
		</div>
		<!-- <button class="palm-button" id="submit-search-button">Search</button> -->
		<div x-mojo-element="Button" id='submit-search-button'></div>
	</div>
</div>

<div id="search-spinner-container"></div>

<!-- <div id="search-timeline" class="timeline"></div> -->

<div id="search-timeline" name="search-timeline" x-mojo-element='List'></div>

</div>