<!-- <div class="palm-row-wrapper">
	<div class="textfield-group" x-luna-focus-highlight="true">
		<div class="title">
			<div class="label">
				username
			</div>
			<div id="username" name="username" x-luna-element="TextField"></div>
		</div>
	</div>
</div> -->

<div class='palm-row' id="username-row">
	<div class="palm-row-wrapper">
		<div class="textfield-group" x-luna-focus-highlight="true">
			<div class="title">
				<div class="label">
					Search
				</div>
				<div id="search-twitter-textfield" name="search-twitter" x-luna-element="TextField"></div>
			</div>
		
		</div>
	</div>
</div>	
<div id="search-timeline" class="timeline"></div>