<div class="timeline-entry new" data-status-id="#{id}" data-user-id="#{from_user_id}" data-user-screen_name="#{from_user}" data-timestamp="#{created_at_unixtime}">
	<div class="user" data-user-id="#{from_user_id}" data-user-screen_name="#{from_user}">
		<img src="#{profile_image_url}" title="#{from_user}" />
	</div>
	<div class="status">
		<div class="screen-name">#{from_user}</div>
	 	<div class="text">
			#{text}
		</div>
		<div class="meta" data-status-id="#{id}"><span class="date" data-created_at="#{created_at}">#{relative_time}</span> &#x2192;</div>  
	</div>
</div>

<!-- /*
    "text": "when I close my eyes I dream in javascript",
    "to_user_id": null,
    "from_user": "apuritz",
    "id": 1125196059,
    "from_user_id": 95155,
    "iso_language_code": "en",
    "profile_image_url": "http:\/\/s3.amazonaws.com\/twitter_production\/profile_images\/55159511\/images_normal.jpeg",
    "created_at": "Sat, 17 Jan 2009 01:10:11 +0000"
*/ -->
