<div class="palm-dark">
	<div class="palm-page-header spaz-page-header">
		<div class="palm-page-header-wrapper">
			<div id="appIcon" class="img_icon"></div>
			<div class="title">
				User Detail
			</div>
		</div>		
	</div>

<!-- <div class="spaz-view-menu-container">
	<div class="spaz-view-menu">
		<div class="spaz-view-menu-label">
			<div class="spaz-view-menu-label-text">Spaz:User Detail</div>
		</div>
		<div class="spaz-view-menu-separator"></div>
		<div class="spaz-view-menu-button" id="spaz-view-menu-button">
			<img src="images/theme/triangle-down.png" />
		</div>
	</div>
	
</div>
<div class="spaz-view-menu-spacer"></div> -->

<div x-mojo-element="Spinner" id="user-detail-spinner" class="spaz-activity-spinner"></div>

<div id="user-detail-container">
	<div id="user-detail"></div>

	

</div>

<div id="post-popup-container"></div>


</div>