<!-- <div class="spaz-view-menu-container">
	<div class="spaz-view-menu">
		<div class="spaz-view-menu-label">
			<div class="spaz-view-menu-label-text">Spaz:User Detail</div>
		</div>
		<div class="spaz-view-menu-separator"></div>
		<div class="spaz-view-menu-button" id="spaz-view-menu-button">
			<img src="images/theme/triangle-down.png" />
		</div>
	</div>
	
</div>
<div class="spaz-view-menu-spacer"></div> -->

<div x-luna-element="Spinner" id="spaz-activity-spinner"></div>

<div id="user-detail-container">
	<div id="user-detail"></div>

	<div id="user-detail-actions">
		<div class="spaz-button-group">
			<div class="spaz-button-wide">View user's recent posts</div>
			<div class="spaz-button-wide">Search for this user</div>
		</div>

		<div class="spaz-button-group">
			<div class="spaz-button-wide">@reply to this user</div>
			<div class="spaz-button-wide">Send direct message to this user</div>
		</div>

		<div class="spaz-button-group">
			<div class="spaz-button-wide">Follow this user</div>
			<div class="spaz-button-wide">Block this user</div>
		</div>

		<div id="user-timeline"></div>
	</div>

</div>

<div id="post-popup-container"></div>