

<div data-screen_name="#{screen_name}" data-id="#{id}">
	
	<img src="#{profile_image_url}" id="user-detail-image" data-screen_name="#{screen_name}" title="View user's profile" />
	<div id="user-detail-info">
		<div id="user-detail-name" data-screen_name="#{screen_name}">#{name} (#{screen_name})</div>
	    <div><a id="user-detail-location" href="#{location}" title="View this location on a map">#{location}</a></div>
		<div><a id="user-detail-homepage" href="#{url}" title="Open user's homepage">Homepage</a></div>
		<div id="user-detail-description">#{description}</div>
	</div>
		
	<div id="user-detail-actions">
		<div class="spaz-button-group">
			<div id="view-user-posts" class="spaz-button-wide" data-screen_name="#{screen_name}">View user's recent posts</div>
			<div id="user-timeline" data-screen_name="#{screen_name}" style="display:none"></div>
			<div id="search-user"class="spaz-button-wide" data-screen_name="#{screen_name}">Search for this user</div>
		</div>

		<div class="spaz-button-group">
			<div id="reply-to-user" class="spaz-button-wide" data-screen_name="#{screen_name}">@reply to this user</div>
			<div id="dm-user" class="spaz-button-wide" data-screen_name="#{screen_name}">Send direct message to this user</div>
		</div>

		<div class="spaz-button-group">
			<div id="friend-user" class="spaz-button-wide" data-screen_name="#{screen_name}">Follow this user</div>
			<div id="block-user" class="spaz-button-wide" data-screen_name="#{screen_name}">Block this user</div>
		</div>

		
	</div>
	
</div>
<!-- 
	{
	    "profile_background_image_url": "http:\/\/static.twitter.com\/images\/themes\/theme1\/bg.gif",
	    "description": "Drink Scotch whiskey all night long \/ and die behind the wheel",
	    "utc_offset": -28800,
	    "profile_background_color": "e5e9eb",
	    "profile_image_url": "http:\/\/s3.amazonaws.com\/twitter_production\/profile_images\/77218859\/al3x_feb_2009_normal.png",
	    "created_at": "Thu Nov 23 19:29:11 +0000 2006",
	    "profile_text_color": "232323",
	    "time_zone": "Pacific Time (US & Canada)",
	    "url": "http:\/\/al3x.net\/",
	    "screen_name": "al3x",
	    "name": "Alex Payne",
	    "profile_link_color": "336699",
	    "protected": false,
	    "status": {
	        "in_reply_to_user_id": 637533,
	        "text": "@coda Ruby book sales are down too. No surprise, really. There's not that much there, there.",
	        "favorited": false,
	        "created_at": "Mon Mar 02 02:18:27 +0000 2009",
	        "in_reply_to_status_id": 1267549925,
	        "id": 1267602137,
	        "truncated": false,
	        "source": "<a href=\"http:\/\/www.atebits.com\/software\/tweetie\/\">Tweetie<\/a>"
	    },
	    "notifications": false,
	    "following": false,
	    "favourites_count": 1325,
	    "friends_count": 350,
	    "profile_sidebar_fill_color": "c3cbd0",
	    "profile_sidebar_border_color": "333",
	    "followers_count": 7985,
	    "location": "San Francisco",
	    "id": 18713,
	    "statuses_count": 7674,
	    "profile_background_tile": false
	}
* 
* 
*  -->