<div data-screen_name="#{screen_name}" data-id="#{id}">
	
	<img src="#{profile_image_url}" id="user-detail-image" data-screen_name="#{screen_name}" title="View user's profile" />
	<div id="user-detail-info">
		<div id="user-detail-name" data-screen_name="#{screen_name}">#{name} (#{screen_name})</div>
	    <a id="user-detail-location" href="#" title="View this location on a map">#{location}</a>
	    <a id="user-detail-homepage" href="#{url}" title="Open user's homepage">Homepage</a>
		<div id="user-detail-description">#{description}</div>
	</div>
	

	
</div>
<!-- 
* 
* "description": "PHP Windows Geek (not Oxymoron)",
"profile_image_url": "http:\/\/s3.amazonaws.com\/twitter_production\/profile_images\/25760052\/headshot_normal.jpg",
"url": "http:\/\/elizabethmariesmith.com",
"name": "auroraeosrose",
"protected": false,
"screen_name": "auroraeosrose",
"followers_count": 242,
"location": "",
"id": 8854222
*  -->