<div data-user-screen_name="#{user.screen_name}" data-user-id="#{user.id}" data-status-id="#{id}">
	
	<img src="#{user.profile_image_url}" id="message-detail-image" data-screen_name="#{user.screen_name}" title="View user's profile" />
	
	<div class="status">
		<div class="screen_name" data-screen_name="#{user.screen_name}">#{user.screen_name}</div>
		<div class="text">#{text}</div>

		<div class="meta" data-status-id="#{id}">
			<span class="clickable date" data-created_at="#{created_at}">#{relative_time}</span>
			<span class="clickable source">from <span class="source-link">#{source}</span></span>
			<span class="clickable in-reply-to" data-irt-status-id="#{in_reply_to_status_id}">In-reply-to <span class="in-reply-to-link">@#{in_reply_to_screen_name}</span></span>
		</div>	

	</div>
	
		
	
	<div id="message-detail-actions">
		<div class="spaz-button-group">
			<div class="spaz-button-wide" id="message-detail-action-reply" data-status-id="#{id}" data-screen_name="#{user.screen_name}">@Reply to this message</div>
			<div class="spaz-button-wide" id="message-detail-action-retweet" data-status-id="#{id}">ReTweet this message</div>
			<div class="spaz-button-wide" id="message-detail-action-dm" data-screen_name="#{user.screen_name}">Direct message this user</div>
			<div class="spaz-button-wide" id="message-detail-action-favorite" data-status-id="#{id}" data-screen_name="#{user.screen_name}">Add as favorite</div>
		</div>

	</div>
	
</div>
