<div class="palm-dark">
	
	<div id="activity-spinner-favorites-container" class='spaz-activity-spinner-container'>
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div id="activity-spinner-favorites" x-mojo-element="Spinner"></div>
				<div id="activity-spinner-favorites-title" class="title"></div>
			</div>
		</div>
	</div>
	
	
    <div id="favorites-timeline" class="timeline" x-mojo-element="List"></div>
	<div x-mojo-element="Button" id='more-favs-button'>More</div>
</div>