<div class="palm-dark">
	<!-- <div class="palm-page-header spaz-page-header">
		<div class="palm-page-header-wrapper">
			<div id="appIcon" class="img_icon"></div>
			<div class="title">
				Favorites
			</div>
		</div>		
	</div> -->
	
	<div id="activity-spinner-favorites-container" class='spaz-activity-spinner-container'>
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div id="activity-spinner-favorites" x-mojo-element="Spinner"></div>
				<div id="activity-spinner-favorites-title" class="title"></div>
			</div>
		</div>
	</div>
	
	
<div id="favorites-timeline" class="timeline"></div>
</div>