<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="dialog-title">
		<span x-mojo-loc="">New Account</span>
	</div>
	<div class="dialog-message">
		Enter a username and password for this account
	</div>
    
    <style type="text-css">
    #user-row,
    #password-row,
    #twitter-api-base-url-row { display: none; }
    </style>                                           
	
	<div class="palm-group palm-group-spaz unlabeled">
		<div class="palm-list">
		    <div class="palm-row first" id="twitter-get-pin-row">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div id="getPin" x-mojo-element="Button"></div>
					</div>
				</div>
			</div>
			<div class="palm-row first" id="user-row">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label">
								username
							</div>
							<div id="new-username" name="new-username" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="palm-row" id="password-row">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label">
								password
							</div>
							<div id="new-password" name="new-password" x-mojo-element="PasswordField"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="palm-row last" id="type-row">
				<div class="palm-row-wrapper">
					<div id="type" name="type" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			<div class="palm-row last" id="twitter-api-base-url-row">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label">
								API URL
							</div>
							<div id="twitter-api-base-url" name="twitter-api-base-url" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	
</div>

<div id="new-account-errormsg" style="color:#600"></div>

<div x-mojo-element="Button" id='saveAccountButton'></div>       
                                                                  
