<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="dialog-title">
		<span x-mojo-loc="">New Account</span>
	</div>
	<div class="dialog-message">
		Enter a username and password for this account
	</div>
                                                                 
	
	<div class="palm-group palm-group-spaz unlabeled">
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label">
								username
							</div>
							<div id="new-username" name="new-username" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label">
								password
							</div>
							<div id="new-password" name="new-password" x-mojo-element="PasswordField"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="palm-row last" id="type-row">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div id="type" name="type" x-mojo-element="ListSelector"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="palm-row last" id="api-url-row">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label">
								API URL
							</div>
							<div id="api-url" name="api-url" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	
</div>

<div id="new-account-errormsg"></div>

<div x-mojo-element="Button" id='saveAccountButton'></div>       
                                                                  
