<div id="login-section" class="palm-dark">
	<div class="palm-page-header spaz-page-header">
		<div class="palm-page-header-wrapper">
			<div id="appIcon" class="img_icon"></div>
			<div class="title">
				Log-in
			</div>
		</div>		
	</div>

	<!-- <button class="palm-button dismiss" id="back-login-button">&laquo; Back</button> -->
	
	<div id="accountList" name="userlist" x-mojo-element='List'></div>
	<div class="checkbox-container">
		<div x-mojo-element="CheckBox" id="goToMyTimelineCheckbox"></div>
		<div class="checkbox-label">Automatically log-in next time</div>
	</div>
</div>