
<div id="start-scene" class="palm-dark" style="display:none">
	
	<div id="start-section" style="text-align:center">
		<div><img src="images/spaz-icon-alpha_256.png" width="256" height="245" alt="Spaz Icon Alpha 256"></div>

		<div class="palm-group palm-group-spaz">
			<div class="palm-group-title" x-mojo-loc=''>Welcome to Spaz <spaz id="app-version"></spaz></div>
			<div class="palm-list">
		   		<div class="palm-row single">
					<button class="palm-button" id="start-login-button">Log-in to your account</button>
				</div>
		   		<div class="palm-row single">
					<button class="palm-button" id="start-search-button">Search &amp; explore Twitter</button>
				</div>
			</div>
		</div>
	
		<div id="start-smallprint">
			&copy; 2009 <a href="http://funkatron.com" class="clickable">Funkatron Productions</a><br/>
			Powered by <a href="http://github.com/funkatron/spazcore" class="clickable">SpazCore</a>
		</div>
	
	</div> <!-- start-section end -->


</div>