<div id='location-popup-container' class="palm-dark">
		<div id="palm-dialog-content" class="palm-dialog-content">
			<div class="dialog-title">
				Update Location
			</div>
			<div class="palm-dialog-separator"></div>

			<div class="palm-group unlabeled">
				<div class="palm-list">
					<div class="palm-row single">
						<div class="palm-row-wrapper">
							<div class="textfield-group" x-mojo-focus-highlight="true">
								<div class="title">
									<div id="update-location-textfield" x-mojo-element="TextField"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
		</div>
		
		<div class="palm-dialog-buttons">
			<div x-mojo-element="Button" id='update-location-button' class="primary"></div>
			<div x-mojo-element="Button" id='get-location-button' class="secondary"></div>
		</div>

</div>