<div id="palm-dialog-box" class="palm-dialog-box post-panel">
	<div class="palm-dialog-wrapper">
 
		<div id="palm-dialog-content" class="palm-dialog-content">
			<div class="dialog-title">
				Post as #{username}
			</div>
			<div class="palm-dialog-separator"></div>
			<div class="dialog-message">
				<div id="post-panel-irt" style="display:none">
					<span id="post-panel-irt-prefix">Re:</span>
					<span id="post-panel-irt-message" data-status-id="">@funkatron hi there!</span>
					<span id="post-panel-irt-dismiss">x</span>
				</div>
				<textarea id="post-panel-textarea"></textarea>
				<div id="post-panel-counter"><span id="post-panel-counter-number">140</span> char left</div>
				<div id="post-panel-spinner-container"></div>
			</div>
		</div>
		
		<div class="palm-dialog-buttons">
			<div>
				<button id="post-send-button" class="palm-button">Post</button>
				<button id="post-cancel-button" class="palm-button">Cancel</button>
			</div>
		</div>
		
	</div>
</div>