<div class="timeline-entry new" data-status-id="#{id}" data-user-id="#{user.id}" data-user-screen_name="#{user.screen_name}" data-timestamp="#{created_at_unixtime}">
	<div class="user" data-user-id="#{user.id}" data-user-screen_name="#{user.screen_name}">
		<img src="#{user.profile_image_url}" title="#{user.screen_name}" />
	</div>
	<div class="status">
		<div class="screen-name">#{user.screen_name}</div>
	 	<div class="text">
			#{text}
		</div>
		<div class="meta" data-status-id="#{id}"><span class="date" data-created_at="#{created_at}">#{relative_time}</span></div>  
	</div>
</div>

