/* Put Application specific CSS here. */

BODY, BODY>div[x-mojo-element=Scroller] {
    background-color:#FFFFFF;
	color:#111111;
}

body.palm-default {
/*	background: url('Clean/page-bg-darkgreen.png')  top left no-repeat;*/
	background:#FFFFFF;
	
}

body * {
	font-family:arial, sans-serif !important;
}

.pull-to-refresh {
	background-image:url(Clean/pull-to-refresh.png);
	background-repeat: no-repeat;
	background-position: center 50px;
}

#mojo-scene-splash-scene-scroller {
    background: url('../images/splash.jpeg') top left no-repeat;
}

.timeline-content {
	position: relative; z-index: 500;
}
.refresh-text {
	margin-top: -33px; text-align: center; z-index: 200; color: black !important;
}
.refresh-text-overlay {
	height: 45px; width: 100%; background-color: #FFFFFF; position: fixed; top: 0px; z-index: 250;
}

/* 
	The Accounts Panel
*/
.palm-menu-panel {
    -webkit-border-image: url('Clean/palm-menu-panel.png') 24 24 24 24 repeat stretch;
}

.palm-menu-panel{
    -webkit-transition: all 175ms ease-in;
	top:50px;
    opacity:1;
}

.palm-menu-panel.sliding {
    -webkit-transform: translate(0px,-2220px);
    opacity: 0;
}

.palm-menu-button, .palm-menu-text, .palm-menu-label {
	-webkit-border-image: url(none) 50 25 150 25 repeat repeat !important;
}
.palm-menu-button.selected, .palm-menu-text.selected, .palm-menu-label.selected {
	-webkit-border-image: url(none) 50 25 150 25 repeat repeat !important;
	background-color:rgba(0,0,0,.5);
}
.palm-menu-text.palm-depressed,
.palm-menu-label.palm-depressed,
.palm-menu-button.palm-depressed {
	background-color:rgba(32,32,32,.5);
}


/*Menu Icon Overrides*/
.palm-menu-icon.dms 			{ background-image: url(../images/theme/menu-icon-dms.png); }
.palm-menu-icon.at 			{ background-image: url(../images/theme/menu-icon-at.png); }
.palm-menu-icon.favorite 			{ background-image: url(../images/theme/menu-icon-favorite.png); }
.palm-menu-icon.favorite-outline 			{ background-image: url(../images/theme/menu-icon-favorite-outline.png); } 
.palm-menu-icon.friends-followers 			{ background-image: url(../images/theme/menu-icon-friends-followers.png); }
.palm-menu-icon.search-person 			{ background-image: url(../images/theme/menu-icon-search-person.png); }
.palm-menu-icon.start-following			{ background-image: url(../images/theme/menu-icon-start-following.png); } 
.palm-menu-icon.stop-following			{ background-image: url(../images/theme/menu-icon-stop-following.png); } 
.palm-menu-icon.more					{ background-image: url(../images/theme/menu-icon-triangle-up.png); }

.view-menu {
}
.view-menu .palm-menu-text {
	text-align:left;
}
.view-menu, .command-menu {
	text-align:left;
	background-color:rgba(32,32,32,.7);
	background-color:transparent;
/*	-webkit-box-shadow: 0px 1px 5px #333333;*/
}
	.view-menu .palm-menu-text .truncating-text {
/*		margin-left:38px;*/
		font-size:13pt;
		font-weight:normal;
	}

.palm-default .palm-menu-fade, .palm-menu.command-menu.palm-default > .palm-menu-fade {
	background:rgba(32,32,32,.7);
}

div.palm-page-header.spaz-page-header {
	-webkit-border-image:url(none) 35 24 13 24 repeat stretch !important;
	background-color:rgba(32,32,32,.7);
	-webkit-box-shadow: 0px 1px 5px #333333;
}
	div.palm-page-header.spaz-page-header .title {
		color:#222222;
		text-shadow: rgb(0,0,0) 0px 1px 0px;
		text-transform: none;
	}
	.palm-page-header.multi-line .subtitle {
		color:#222222;
		text-shadow: rgb(0,0,0) 0px 1px 0px;
		padding-left:56px;
	}

a:link, a:visited, .clickable {
	color: #222266;
	text-decoration:underline;
}

#menu {
	position:relative;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:10;
}


/*
	buttons
*/
.palm-button,
#palm-dialog-box .palm-button,
.palm-list .palm-row .palm-button {
  -webkit-border-image: url(Clean/palm-button-medium.png) 0 17 104 17 repeat repeat;
}

.palm-button.selected.primary,
.palm-button.selected,
#palm-dialog-box .palm-button.selected.primary,
#palm-dialog-box .palm-button.selected {
  -webkit-border-image: url(Clean/palm-button-medium.png) 52 17 52 17 repeat repeat;
}

.palm-button.disabled.primary,
.palm-button.disabled,
#palm-dialog-box .palm-button.disabled.primary,
#palm-dialog-box .palm-button.disabled {
  -webkit-border-image: url(Clean/palm-button-medium.png) 104 17 0 17 repeat repeat;
}


.palm-button.secondary,
.palm-button.dismiss,
#palm-dialog-box .palm-button.secondary,
#palm-dialog-box .palm-button.dismiss,
.palm-list .palm-row .palm-button.secondary {
  color: #332;
  -webkit-border-image: url(Clean/palm-button-light.png) 0 17 104 17 repeat repeat;
}

.palm-button.secondary.selected,
.palm-button.dismiss.selected,
#palm-dialog-box .palm-button.secondary.selected,
#palm-dialog-box .palm-button.dismiss.selected {
  -webkit-border-image: url(Clean/palm-button-light.png) 52 17 52 17 repeat repeat;
}

.palm-button.secondary.disabled,
.palm-button.dismiss.disabled,
#palm-dialog-box .palm-button.secondary.disabled,
#palm-dialog-box .palm-button.dismiss.disabled {
  color: #777;
  -webkit-border-image: url(Clean/palm-button-light.png) 104 17 0 17 repeat repeat;
}



.palm-group {
	-webkit-border-image: url(none) 40 18 18 18 repeat repeat;
}

.palm-group.unlabeled {
	-webkit-border-image: url(none) 18 18 18 18 repeat repeat;
}

.palm-group-title {
  color: #333333 !important;
  text-shadow: #000000 0px 1px 0px;
}


/*.palm-group .textfield-group {
  border-width: 15px;
  -webkit-border-image: url(Clean/textfield-shadow.png) 15 15 15 15 stretch stretch;
}

.palm-group .palm-row.first .textfield-group.focused {
  border-width: 15px;
  -webkit-border-image: url(Clean/group-textfield-shadow-first.png) 15 15 15 15 stretch stretch;
}
.palm-group .palm-row.last .textfield-group.focused {
  border-width: 15px;
  -webkit-border-image: url(Clean/group-textfield-shadow-last.png) 15 15 15 15 stretch stretch;
}
.palm-group .palm-row.single .textfield-group.focused {
  border-width: 15px;
  -webkit-border-image: url(Clean/group-textfield-shadow-single.png) 15 15 15 15 stretch stretch;
}
*/
.palm-group-spaz {
	-webkit-border-image: url(none) 40 18 14 18;
	background-color:rgba(224,224,224,.7);
	-webkit-border-radius:10px;
}

.palm-group-spaz .palm-group-title{
	color:#333333;
}


/*
	rows
*/
.palm-row {
}




div.rounded-user-image {
	-khtml-border-radius: 6px;
}

/*************************************************
	Timeline entries are... entries in the timelines
*/

div.timeline {
}

div.timeline-entry {
	padding: 2px 6px 6px;
	clear:both;
	overflow:hidden;
	min-height:64px;
	color:#222222;
	position:relative;
}

	div.timeline-entry.new {
		color:#222200;
	}


	/*
		Entries that are replies directed at the user
	*/
	div.timeline-entry.reply {
		background-color:#fdf7c6;
	}
	/*
		Entries that are direct messages to the user
	*/
	div.timeline-entry.dm {
		background-color:#ffcbcb;
	}

	div.timeline-entry.reply:active,
	div.timeline-entry.dm:active,
	div.timeline-entry:active {	
		background-color:#DDDDDD;
		color:#000000;
	}
	

	


		

	div.timeline-entry .user {
		float:left;
		text-align:center;
		width:48px;
		height:48px;
		margin-top:10px;
		margin-left:3px;

	}
		div.timeline-entry .user .user-img, div.timeline-entry .user img {
			width:48px;
			height:48px;
		}

	div.timeline-entry .rt-user {
		position:absolute;
		width :24px;
		height:24px;
		top :42px;
		left:38px;
	}
		div.timeline-entry .rt-user .rt-user-img, div.timeline-entry .rt-user img {
			width :24px;
			height:24px;
		}
	

	div.timeline-entry .text-status {
		margin-left:64px;
		margin-top:0px;
		background:transparent right bottom no-repeat;
	}
		div.timeline-entry.reply .text-status {
			background-image:url(Clean/timeline-mention-bg.png);
		}
		div.timeline-entry.dm .text-status {
			background-image:url(Clean/timeline-dm-bg.png);
		}
		div.timeline-entry.favorite .text-status {
			background-image:url(Clean/timeline-favorite-bg.png);
		}
		
		
		div.timeline-entry .text-status .meta-wrapper {
			overflow:hidden;
			margin-top:5px;
			height:15pt;
		}
		div.timeline-entry .text-status .screen-name {
			float:left;
			font-size:11pt;
/*			font-weight:bold;*/
			color:#666666;
			text-transform: uppercase;
			font-family:"Prelude-CondensedMedium";
			position:relative;
			text-shadow: 0px 1px 4px #000;
			max-width:200px;
			overflow:      hidden;
			text-overflow: ellipsis;
			white-space:   nowrap;
			
		}
		
		div.timeline-entry div.retweeted-indicator {
			width:  20px;
			height: 13px;
			background-image:url(Clean/retweeted.png);
			display:inline-block;
		}
		
		div.timeline-entry .text-status .text {
			font-size:11pt;
			line-height:15pt;
		}
		
	div.timeline-entry .text-status .meta {
		float:right;
		position:relative;
		height:20px;
		padding:1px 0px;
		font-size:	10pt;
		text-transform:uppercase;
		font-family:"Prelude-CondensedMedium";
		text-align:	right;
		color:#666666;
		background-position: right center;
		border-width: 0 7px 0 7px;
	}

			div.timeline-entry:active .text-status .meta,
			div.timeline-entry .text-status .meta:active {
				color:#333333;
			}
	
	div.timeline-entry div.protected-icon {
		height:12px;
		width: 11px;
		display:inline-block;
		margin-left:5px;
		background-image: url(Clean/tiny-lock-icon.png);
		background-repeat: no-repeat;
	}
	
/*
	timeline entry font sizes
*/	
.timeline.tall div.timeline-entry .text-status .screen-name {
	font-size:12pt;
}
.timeline.tall div.timeline-entry .text-status .meta-wrapper {
	height:15pt;
}
.timeline.tall div.timeline-entry .text-status .text {
	font-size:11pt;
	line-height:15pt;
}
.timeline.tall div.timeline-entry .text-status .meta {
	font-size:	10pt;
}

.timeline.grande div.timeline-entry .text-status .screen-name {
	font-size:14pt;
}
.timeline.venti div.timeline-entry .text-status .meta-wrapper {
	height:17pt;
}
.timeline.grande div.timeline-entry .text-status .text {
	font-size:14pt;
	line-height:19pt;
}
.timeline.grande div.timeline-entry .text-status .meta {
	font-size:	12pt;
}

.timeline.venti div.timeline-entry .text-status .screen-name {
	font-size:17pt;
}
.timeline.venti div.timeline-entry .text-status .meta-wrapper {
	height:22pt;
}
.timeline.venti div.timeline-entry .text-status .text {
	font-size:17pt;
	line-height:22pt;
}
.timeline.venti div.timeline-entry .text-status .meta {
	font-size:	14pt;
}


#public-timeline div.timeline-entry {
	padding: 6px 6px;
	border:none !important;
	clear:both;
	overflow:hidden;
	min-height:64px;
	color:#000000;
	position:relative;
	margin:0;
	background-image: none !important;
	background-repeat: repeat-x;
	background-color: transparent !important;
}

div.timeline-entry.follower {}
	div.timeline-entry.follower div.user-name {
		margin-left:64px;
		margin-top:7px;
		font-size:14pt;
	}
		div.timeline-entry.follower div.user-name-screen {
			font-weight:bold;
		}
	
/*
	login scene stuff
*/
#mojo-scene-start-scene-scroller {
	background-image: url('Clean/page-bg-clean-start.png');
}

#mojo-scene-start {
	position:absolute !important;
	bottom:10px;
}

#start-scene {
	color:#111111;
	bottom:0px;
	vertical-align: bottom;
	height:175px;
}

#splash-logo {
	opacity: .1;
	position:fixed;
	top:-30px;
	left:-50px;
	z-index:1;
}

#login-scene #status-panel {
	z-index:10;
	margin:5px 20px;
	padding:10px;
	border:1px solid rgba(255,255,204,.8);
	background: rgba(255,255,204,.3);
	color:#333333;
	display:none;
	overflow: auto;
	height:30px;
}
	#login-scene #activity-spinner {
		float:left;
	}
	#login-scene #status-label {
		margin-left: 40px;
		margin-top:  8px;
		font-size:   12pt;
		display:block;
		vertical-align: -10%;
	}

	.palm-row .label {
/*		color:#333333;
		text-shadow: none;
*/	}
	
	.palm-row .title {
/*		color:#333333;*/
	}
	
	.palm-row .truncating-text {
/*		color:#333333;*/
	}
		.palm-row .focused input[type='text'] {
		}
	
	.add-item .title {
		color:#111100;
	}
	
	.checkbox-container {
		margin:5px 10px;
	}
	.palm-row .checkbox-container {
		margin:0px;
	}

		.checkbox-label {
			margin:13px 0 0 0;
			font-size:12pt;
			color:#000000;
		}

	#trends-list {}
	#trends-list>li {
		
	}

/*
	simple styling widgets
*/
div.spaz-drawer-header {
	color:#333333;
	display:block;
	margin:0;
	padding:12px 6px 12px 25px;
	font-size: 10pt;
	text-transform: uppercase;
	font-weight:  bold;
/*	-webkit-border-image: url(http://localhost:8888/usr/lib/mojo/framework/submissions/91/images/palm-menu-button.png) 0 25 150 25 stretch stretch;*/
}
	div.spaz-drawer-header.open {
		color:#333300;
	}
	div.spaz-drawer-header.closed {
		
	}
	
div.spaz-drawer {
	-webkit-border-image: url(Clean/drawer-background-9tile-opaque.png) 20 1 20 1 stretch stretch;
	-webkit-box-sizing: border-box;
	width:100%;
	padding:0;
	margin:0;
}

#login-button, #search-button {
	margin:0px;
}

.palm-list .palm-row .palm-button {
	margin:0px !important;
}

/*
	Message detail styles
*/
.message-detail-scene {
}

#message-detail-container {
	min-height:480px;
	padding:0 0 7px 0;
	overflow:auto;
}


#message-detail {
	padding: 0px 0px;
	clear:both;
	overflow:hidden;
}

	#message-detail div.user {
		display:block;
		clear:both;
		overflow:visible;
		background-color:rgba(128,128,128,.5);
		padding:8px;
		min-height:48px;
	}

	#message-detail div.user .screen_name {
		margin-left: 56px;
		margin-top:  0px;
		font-size:14pt;
		font-weight:bold;
	}
	#message-detail div.user .real_name {
		margin-left: 56px;
		font-size:12pt;
		font-weight:normal;
	}

	#message-detail .user-image {
		float:left;
		width:48px;
		height:48px;
		opacity:.9;
		display:block;
	}
	
	
	
	#message-detail .text-status {
		margin-left: 8px;
		margin-right:8px;
		clear:both;
	}
		#message-detail .text-status .thumbnails {
			margin:5px 0 0;
		}
			#message-detail .text-status .thumbnail {
				border:1px solid #999999;
				position:relative;
				max-width:98%;
			}
		#message-detail .text-status .text {
			margin-top:.3em;
			line-height:140%;
			font-size:13pt;
		}

		#message-detail .text-status .meta {
			font-size:11pt;
			margin: .7em 0;
			color:#333333;
			font-family:"Prelude";
		}
		
			
			#message-detail .text-status .meta .date {
			}

			#message-detail .protected-icon {
				display:inline-block;
				margin:0px 0px;
				padding-left:18px;
				background-image: url(Clean/tiny-lock-icon.png);
				background-repeat: no-repeat;
				background-position: 0px 6px;
			}


#timeline-conversation {
	margin:0px 7px;
	background-color:rgba(128,128,128,.5);
	-webkit-border-radius:10px;
	padding:5px 10px;
	overflow:auto;
	font-size:11pt;
	display:none;
}
	#timeline-conversation:active {
		background-color:rgba(224,224,224,.5);
	}
	

#timeline-conversation div.timeline-entry {
	border-bottom:none;
	background-image:none;
	background-color:transparent;
	color:#000000;
}
#timeline-conversation div.timeline-entry.new {
	color:#000000;
}




/*
	User detail styles
*/

.user-detail-scene {
	min-height:480px;
}


#user-detail-container {
	padding:0px 0px;
	min-height:480px;
}


#user-detail {
	padding: 0px 0px;
	clear:both;
	overflow:hidden;
}

	#user-detail div.user {
		display:block;
		clear:both;
		overflow:visible;
		background-color:rgba(128,128,128,.5);
		padding:8px;
		min-height:48px;
	}

	#user-detail div.user .screen_name {
		margin-left: 56px;
		margin-top:  0px;
		font-size:14pt;
		font-weight:bold;
	}
	#user-detail div.user .real_name {
		margin-left: 56px;
		font-size:12pt;
		font-weight:normal;
	}

	#user-detail .user-image {
		float:left;
		width:48px;
		height:48px;
		opacity:.9;
		display:block;
	}

	#user-detail .protected-icon {
		display:inline-block;
		margin:0px 0px;
		padding-left:18px;
		background-image: url(Clean/tiny-lock-icon.png);
		background-repeat: no-repeat;
		background-position: 0px 6px;
	}

	#user-detail .user-info, #user-detail .user-info-stats {
		overflow:visible;		
	}


        #user-detail .user-location, #user-detail .user-homepage {
			color: #222266;
			text-decoration:underline;
		}
		#user-detail .user-description {
			margin-left: 8px;
			margin-right:8px;
			margin-top:.3em;
			line-height:140%;
			font-size:  13pt;
		}
		
		#user-detail div.user-info-stats {
			margin-top:.5em;
			overflow:auto;
		}
		
		#user-detail div.user-info-stats div.row {
			background-color:rgba(224,224,224,.5);
			margin-bottom:3px;
			padding:5px;
			overflow:auto;
			height:1.1em;
		}
			#user-detail div.user-info-stats div.row>div {
				font-size:12pt;
				font-family:"Prelude-CondensedMedium";
				margin:0;
				border:0;
				float:left;
				overflow:      hidden;
				text-overflow: ellipsis;
				white-space:   nowrap;
			
			}
				#user-detail div.user-info-stats div.label {
					width:65px;
					text-align:right;
					font-weight:bold;
					padding-right:8px;
					color:#333333;
				}
				#user-detail div.user-info-stats div.value {
					max-width:220px;
					text-align:left;
				}
		
		
	#user-detail-actions {}

	#user-timeline {
		text-align: left;
	}
		#user-timeline div.timeline-entry {
			border-bottom:none;
			min-height:24px;
			margin-bottom:3px;
			padding:5px;
			border-width: 0px;
			border-style: solid;
			border-color: transparent !important;
			background-color:rgba(224,224,224,.5);
		}
			#user-timeline div.user {
				display:none !important;
			}
			#user-timeline .text-status {
				margin-left:0px;
			}
			#user-timeline .text-status .screen-name {
				display:none;
			}
			#user-timeline div.timeline-entry .text-status .meta {
				color:#666666;
				padding:2pt 4pt 2pt 6pt;
				
			}
			





/*
	Palm dialog text field stuff
*/
#palm-dialog-content .textfield-group .truncating-text {
	color:#333;
}
#palm-dialog-content .textfield-group .hint-text {
	color:#AAA;
}

.dialog-error {
	margin:6px 0px;
	font-size:12pt;
	color:#990000;
}

/*
	Post panel styles
*/
#palm-dialog-box.post-panel {
	display:none;
}
		
	#post-panel-irt { /* "in-reply-to" */
		margin:5px 10px;
		line-height:13px;
	}

		#post-panel-irt-prefix {
			color:#999;
			font-size:14px;
			font-weight: bold;		
		}
		#post-panel-irt-message {
			color:#999;
			font-size:14px;
		}
		#post-panel-irt-dismiss {
			color:white;
			display:inline-block;
			font-size:18px;
			background-color:#666;
			height:16px;
			line-height:10px;
			width: 18px;
			margin-bottom:4px;
			text-align:center;
		} 
			#post-panel-irt-dismiss:active {
				background-color:#333;
			}
		
	
	#post-textfield, #post-textfield textarea {
		font-size:18px;
	}
	
	#post-panel-meta {
		overflow:auto;
	}
		#post-panel-counter {
			font-family:"Prelude-CondensedMedium";
			font-size:14px;
			margin:5px 10px;
			float:left;
		}
			#post-panel-counter.over-limit {
				color:#99CCCC;
			}
		
			#post-panel-counter-number {
				font-weight:bold;
			}
		#post-panel-attachment {
			font-size:14px;
			margin:2px 10px;
			text-align:right;
		}
			#post-panel-attachment-dismiss {
				color:white;
				display:inline-block;
				font-size:18px;
				background-color:#666;
				height:16px;
				line-height:10px;
				width: 18px;
				margin-bottom:4px;
				text-align:center;
			} 
				#post-panel-attachment-dismiss:active {
					background-color:#333;
				}
			
	#post-image-service-help {
		font-size:.9em;
	}
	

/*
	misc
*/

#activity-spinner {
	position:absolute;
	right:5px;
	top:  38px;
	color:  rgba(16,16,16,.7);
}




div.spaz-button-group {
	margin:15px 0px;
}
	div.spaz-button-wide {
		height: 32px;
		margin:5px 8px;
		color:  #DDDDDD;
		font-family:"Prelude-CondensedMedium";
		font-size:12pt;
		line-height:24pt;
		border-width: 0 18px 0 17px;
		-webkit-border-image: url(Clean/spaz-button-bg.png) 0 18 0 17;
	}
	div.spaz-button-wide:active {
		-webkit-border-image: url(Clean/spaz-button-bg-active.png) 0 18 0 17;
	}
	div.spaz-button-wide.open {
		-webkit-border-image: url(Clean/spaz-button-reveal.png) 0 18 0 17;
	}
		div.spaz-button-wide.open:active {
			-webkit-border-image: url(Clean/spaz-button-reveal-active.png) 0 18 0 17;
		}


div.spaz-row {
	height: 48px;
	margin: 2px 2px;
	color:  #333333;
	font-family:"Prelude-CondensedMedium";
	font-size:16pt;
	line-height:35pt;
	border-width: 0 21px 0 21px;
	-webkit-border-image: url(none) 0 21 0 21;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
	div.spaz-row:active {
		-webkit-border-image: url(none) 0 21 0 21;
	}
	div.spaz-row-title {
		font-size:15pt;
		line-height:24pt;
	}
	div.spaz-row-subtitle {
		font-size:11pt;
		line-height:5pt;
	}

#accountList div.spaz-row {
	height: 48px;
	-webkit-border-radius:10px;
	margin: 2px 2px;
	color:  #333333;
	font-family:"Prelude-CondensedMedium";
	font-size:16pt;
	line-height:35pt;
	-webkit-border-image:none;
	padding:0px 11px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	background-image: none;
	background-repeat: repeat-x;
	background-color:#FEFEFE;
	background-position: 0px -3px;
}
	#accountList div.spaz-row:active {
		background-color:rgba(64,64,64,.8);
		color:  #CCCCCC;
		-webkit-border-image:none;
	}
	#accountList div.spaz-row .label{
		float:left;
	}
		#accountList div.spaz-row-title {
			font-size:15pt;
			line-height:24pt;
		}
		#accountList div.spaz-row-subtitle {
			font-size:11pt;
			line-height:5pt;
		}
	#accountList div.spaz-row .info {
		float: right;
		width: 32px;
		height:32px;
		margin-top:7px;
		background-image: url(Clean/icon-info.png);
	}
		#accountList div.spaz-row .info:active {
			background-image: url(Clean/icon-info-active.png);
		}



		
	
.spaz-activity-spinner {
	z-index:11002;
	width:auto;
	right:5px;
	left: 5px;
	top:150px;
	bottom:150px;
	background-repeat: no-repeat;
	background-position: center center;
	position:fixed;
	height:  24px;
	padding: 6px 0px 0px 35px;
	display:block;
	color:  rgba(16,16,16,.7);
	font-family:"Prelude-CondensedMedium";
	font-size:12pt;
	border-width: 0 17 0 17;
	-webkit-border-image: url(Clean/spaz-button-reveal-active.png) 0 17 0 17;
}


div.inline-spinner {
	height: 24px;
	margin:5px 8px;
	padding: 6px 16px 10px;
	border-width: 0 18px 0 18px;
	color:  rgba(16,16,16,.7);
	-webkit-border-image: url(Clean/spaz-roundeditem-darker-bg.png) 0 18 0 18;
}
	div.inline-spinner span.inline-spinner-spinner {
		position:relative;
		top:5px;
		left:15px;
		display:block;
	}
	div.inline-spinner span.inline-spinner-label {
		margin-left:1em;
		color:  #000000;
		font-family:"Prelude-CondensedMedium";
		font-size:12pt;

	}
	

/*
	Remove row separator background
*/	
 .spaz-activity-spinner-container .palm-row {
	background:none;
	color:  rgba(16,16,16,.7);
}
	

div.error_info {
	font-size:9pt;
	border-top:1px solid #AAA;
	margin-top:8px;
	padding-top:8px;
}
	div.error_info .human_msg {
		font-size:10pt;
	}
	
	div.error_info .row {
		overflow:hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
	}
	div.error_info .label {
		font-weight:bold;
		width:75px;
		overflow: hidden;
		float:left;
		text-align:right;
		margin-right:3px;
		white-space:nowrap;
	}
	div.error_info .value {
		max-width:200px;
		float:left;
		overflow:none;
		white-space:nowrap;
		text-overflow: ellipsis;
	}
		div.error_info .value.twitter_msg {
			white-space:normal;			
		}
	
	
	
/*
	Start scene
*/


#start-smallprint {
	font-size:70%;
	margin-top:.2em;
	line-height:1.2em;
}
#new-username, #new-password {
	color:#FFFFFF;
}
		
/*
	about scene
*/
#about-content {
	font-size:75%;
	line-height:1.3em;
}
		
		
/*
	Help scene
*/

#help-scene .palm-body-text {
	color:#222222;
}

.img_icon {
	position:absolute;
	left:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/spaz-icon-alpha_32.png) no-repeat center ;
	padding: 10px 0px 0px 5px;
	float:left;	
}
.list_scene {
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_email {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_phone {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-phone.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_web {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}



/*
	Filtering for timelines
*/
.filter-timeline-all {}
	.filter-timeline-all div.timeline-entry       { display:block; }
	.filter-timeline-all div.timeline-entry.reply { display:block; }
	.filter-timeline-all div.timeline-entry.dm    { display:block; }

.filter-timeline-replies-dm {}
	.filter-timeline-replies-dm div.timeline-entry       { display:none; }
	.filter-timeline-replies-dm div.timeline-entry.reply { display:block; }
	.filter-timeline-replies-dm div.timeline-entry.dm    { display:block; }

.filter-timeline-replies {}
	.filter-timeline-replies div.timeline-entry       { display:none; }
	.filter-timeline-replies div.timeline-entry.reply { display:block; }
	.filter-timeline-replies div.timeline-entry.dm    { display:none; }
	
.filter-timeline-dms {}
	.filter-timeline-dms div.timeline-entry       { display:none; }
	.filter-timeline-dms div.timeline-entry.reply { display:none; }
	.filter-timeline-dms div.timeline-entry.dm    { display:block; }



/* Popup notifications */ 
.notification-panel    { 
        background: #000; 
        color: #fff; 
        overflow: hidden; 
        padding: 15px; 
        top: 0; 
        width: 320px; 
} 
.notification-container                { 
        width: 290px; 
        height: 48px; 
        padding: 0; 
        position: fixed; 
        top: 10px; 
        display: table-cell; 
        vertical-align: middle; 
} 
.notification-container .notification-icon    { 
        width: 48px; 
        height: 48px; 
        margin-right: 5px; 
        float: left; 
        background: url(../images/dashboard-icon-news.png) top left no-repeat; 
} 
.notification-container .notification-title    { 
        width: 230px; 
        height: 18px; 
        margin-top: 5px; 
        margin-bottom: 3px; 
        padding-bottom:5px; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap; 
        color: #fff; 
        font-size: 16px; 
        font-weight: bold; 
} 
.notification-container .notification-subtitle    { 
        margin-top:-5px; 
        width: 230px; 
        height: 18px; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        color: #fff; 
        font-size: 14px; 
        white-space: nowrap; 
} 
.notification-container .notification-title span, 
.notification-container .notification-subtitle span { 
        font-weight: normal; 
} 

/* Dashboard notifications */
.palm-dashboard-icon { 
  background: url(../images/spaz-icon-alpha_48.png); 
} 
BODY.palm-dashboard-notification, BODY.palm-dashboard-notification>div[x-mojo-element=Scroller] {	
	background-image: none;
	background-color:#000000;
	color:#FFFFFF;
}


/*
	Accordion 
*/
/* root element for accordion. decorated with rounded borders and gradient background image */

.palm-arrow-closed {
  height: 32px;
  width: 56px;
  background: url(Clean/palm-divider-arrow.png) center 0px repeat-x;
}

.palm-arrow-expanded {
  height: 32px;
  width: 56px;
  background: url(Clean/palm-divider-arrow.png) center -64px repeat-x;
}

.palm-divider.collapsible .right {
  background: url(Clean/palm-divider-collapse-middle.png) left 12px repeat-x;
}

.palm-divider.collapsible .line {
  background: url(Clean/palm-divider-collapse-left.png) left -1px no-repeat;
}

#search-accordion {
}

/* accordion header */
#search-accordion table {
}

/* currently active header */
#search-accordion table.current {
}
	/* we cheat a little to make .current closed be the same as .palm-arrow-expanded */
	#search-accordion table.current .palm-arrow-closed { 
		height: 32px;
		width: 56px;
		background: url(/usr/lib/mojo/framework/current/images/palm-divider-arrow.png) center -64px repeat-x;
	}
	

/* accordion pane */
#search-accordion div.pane {
	display:none;
}



/** Checkbox **/

.checkbox {
  background: url(Clean/checkbox.png) top no-repeat;
}
.checkbox.true {
  background: url(Clean/checkbox.png) bottom no-repeat;
}

.checkbox.disabled {
  background: url(Clean/checkbox-disabled.png) top no-repeat;
}
.checkbox.true.disabled {
  background: url(Clean/checkbox-disabled.png) bottom no-repeat;
}