/* Put Application specific CSS here. */

BODY, BODY>div[x-mojo-element=Scroller] {	
/*	background-image: url('../images/theme/page-bg-dark-splash.png');*/
	background-color:#111111;
	color:#CCCCCC;
}

BODY {
/*	background: -webkit-gradient(linear, 100% 0, 0 100%, from(#000), to(#333)) !important;*/
/*	-webkit-background-size:480px !important;*/
}

.view-menu .palm-menu-fade {
	background: transparent url("../images/theme/view-menu-gradient.png") no-repeat !important;
	border-bottom:2px solid #111100;
}
.command-menu .palm-menu-fade {
/*	background: transparent url("../images/theme/command-menu-gradient.png") no-repeat !important;*/
	background: transparent !important;
/*	border-top:2px solid #222200;	*/
}

a:link {
	color:#333399;
	text-decoration:none;
	cursor:pointer;
}

/*div.view-menu {
	background-image: none !important;
	height:48px;
}*/

/*div.command-menu {
	background-image: none !important;
	background-color: rgba(50,50,14,.4) !important;
	border-top:2px solid rgba(0,0,0,.4);
	height:48px;

}*/

#menu {
	position:relative;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:10;
}


.palm-group {
	-webkit-border-image: url(../images/theme/palm-group.png) 40 18 14 18;	
}




/*************************************************
	Timeline entries are... entries in the timelines
*/



div.timeline-entry {
	padding: 6px 3px;
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: #333 !important;
	clear:both;
	overflow:hidden;
	min-height:64px;
	color:#333;
/*	-webkit-border-radius:8px;*/
	margin:0;
/*	-webkit-box-shadow:0px 0px 5px #000;*/
}

	/*
		the .even and .odd classes are really only used in the timelines, but 
		they're usedful and probably could be reused elsewhere.
	*/
	div.timeline-entry:nth-of-type(odd), .odd {
		background-color: #FFFFEE;
		border-color: #999966;
		background-image: url('../images/theme/entry-odd-bg.png');
		background-repeat: repeat-x;
	}
	div.timeline-entry:nth-of-type(even), .even {
		background-color: #EEEEFF;
		border-color: #666699;
		background-image: url('../images/theme/entry-even-bg.png');
		background-repeat: repeat-x;
	}
	
	/*
		Entries that are replies directed at the user
	*/
	div.timeline-entry.reply:nth-of-type(odd),
	div.timeline-entry.reply:nth-of-type(even) {
		background-color: #EEEEAA !important;
		background-image: none !important;
	}
	/*
		Entries that are direct messages to the user
	*/
	div.timeline-entry.dm:nth-of-type(odd),
	div.timeline-entry.dm:nth-of-type(even) {
		background-color: #EEAAAA !important;
		background-image: none !important;
	}
	
	div.timeline-entry.new {
		color:#000;
		border-color: #32320e;
/*		padding: 10px 7px;*/
		
	}
		div.timeline-entry.new:nth-of-type(odd) {
			background-color: #fefbd9;
			background-image: url('../images/theme/entry-odd-new-bg.png');
			background-repeat: repeat-x;
		}
		div.timeline-entry.new:nth-of-type(even) {
			background-color: #dcdff7;
			background-image: url('../images/theme/entry-even-new-bg.png');
			background-repeat: repeat-x;
		}

	div.timeline-entry .user {
		width:48px;
		float:left;
		text-align:center;
		margin-top:4px;
		margin-left:3px;
	}
		div.timeline-entry .user img {
			width:48px;
			height:48px;
			border:2px double #333;
/*			-webkit-box-shadow:0px 1px 5px #333;*/
			background-image:url('../images/theme/details-image-generic.png');
			opacity:.9;
		}
	
	div.timeline-entry .status {
		margin-left:64px;
	}
		div.timeline-entry .status .screen-name {
			font-size:11pt;
			font-weight:bold;
			font-variant: uppercase;
			font-family:"Coconut Condensed";
			margin-bottom: .2em;
/*			text-shadow: 0px 1px 5px #666;*/
		}
		div.timeline-entry .status .text {
			font-size:10pt;
			line-height:140%;
		}
		.status .text a:link,
		.status .text a:visited,
		.status .text a:active,
		.status .text .clickable {
			color:#ffffcc;
			padding:2px 0px;
			text-decoration:none;
			height:14px;
			border-width:2px 7px;
			-webkit-border-image: url(../images/theme/text-link-bg.png) 0 7 0 7;
		}
			.status .text a:active,
			.status .text .clickable:active {
				-webkit-border-image: url(../images/theme/text-link-bg-active.png) 0 7 0 7;
			}

	div.timeline-entry .status .meta {
		margin-top:	4px;
		height:14px;
		padding:2px 0px;
		font-size:	8pt;
		font-weight:bold;
		text-transform:uppercase;
		font-family:"Coconut Condensed";
		text-align:	right;
		color:#444444;
/*		background-image:    url('../images/theme/meta-bg.png');*/
		background-position: right center;
		border-width: 0 7px 0 7px;
/*		-webkit-border-image: url(../images/theme/meta-endcap.png) 0 9 0 9;*/
		-webkit-border-image: url(../images/theme/meta-link-bg.png) 0 7 0 7;
	}

			div.timeline-entry .status .meta:active {
/*				background-image:    url('../images/theme/meta-bg-active.png');*/
/*				-webkit-border-image: url(../images/theme/meta-endcap-active.png) 0 9 0 9;*/
				-webkit-border-image: url(../images/theme/meta-link-bg-active.png) 0 7 0 7;
				color:#222222;

			}
	
/*
	login scene stuff
*/

#splash-logo {
	opacity: .1;
	position:fixed;
	top:-30px;
	left:-50px;
	z-index:1;
}

#login-scene #status-panel {
	z-index:10;
	margin:5px 20px;
	padding:10px;
	border:1px solid rgba(255,255,204,.8);
	background: rgba(255,255,204,.3);
	color:#CCC;
/*	-webkit-border-radius:10px;*/
	display:none;
	overflow: auto;
	height:30px;
}
	#login-scene #activity-spinner {
		float:left;
	}
	#login-scene #status-label {
		margin-left: 40px;
		margin-top:  8px;
		font-size:   12pt;
		display:block;
		vertical-align: -10%;
	}

	.palm-row .label {
/*		color:#9BB8CF;*/
		text-shadow: none;
	}
	
	.palm-row .truncating-text {
/*		color:#FFF;*/
	}
		.palm-row .focused input[type='text'] {
/*			color:#000;*/
		}
	
	.checkbox-label {
		margin:18px 0 0 0;
		font-size:12pt;
		color:#FFF;
	}

	#trends-list {}
	#trends-list>li {
		
	}

/*
	simple styling widgets
*/
div.spaz-drawer-header {
	color:#CCC;
	display:block;
	margin:0;
	padding:12px 6px 12px 25px;
	font-size: 10pt;
	text-transform: uppercase;
	font-weight:  bold;
/*	-webkit-border-image: url(http://localhost:8888/usr/lib/mojo/framework/submissions/91/images/palm-menu-button.png) 0 25 150 25 stretch stretch;*/
}
	div.spaz-drawer-header.open {
		color:#FFC;
	}
	div.spaz-drawer-header.closed {
		
	}
	
div.spaz-drawer {
	-webkit-border-image: url(../images/theme/drawer-background-9tile-opaque.png) 20 1 20 1 stretch stretch;
	-webkit-box-sizing: border-box;
	width:100%;
	padding:0;
	margin:0;
}

#login-button, #search-button {
	margin:0px !important;
}



/*
	Message detail styles
*/
.message-detail-scene {
	background-image: url(../images/theme/bg-message-detail.png);
	background-attachment: fixed;
	min-height:480px;
}

#message-detail-container {
	background-attachment: fixed;
	padding:8px 8px;
}


#message-detail {
	padding: 10px 0px;
	clear:both;
	overflow:hidden;
	color:#000;
/*	background-color: rgba(50,50,14,.9) !important;*/
}

	#message-detail-image {
		float:left;
		width:48px;
		height:48px;
		border:2px double #333;
/*		-webkit-box-shadow:0px 1px 5px #000;*/
		background-image:url('../images/theme/details-image-generic.png');
		opacity:.9;
		display:block;
	}
	
	#message-detail .status {
		margin-left: 64px;
		margin-right:10px;
	}
		#message-detail .status .screen_name {
			font-size:14pt;
		}
		#message-detail .status .text {
			margin-top:.3em;
			line-height:130%;
			font-size:10pt;
			margin-left:5px;
		}

		#message-detail .status .meta {
			margin-left:-64px;
			clear:both;
		}

        #message-detail .status .meta .date,
        #message-detail .status .meta .source,
        #message-detail .status .meta .in-reply-to {
			font-size:10pt;
			font-weight:bold;
			font-family:"Coconut Condensed";
			display:inline-block;
			color:#ffffcc;
			background-color:rgba(32,32,32,.7);
/*			-webkit-border-radius:6pt;*/
			padding:2pt 5pt;
			text-decoration:none;
			margin-left:2px;
		}


	#message-detail-actions {
		margin:8px 8px;
		left:0px;
		right:0px;
		background-color:rgba(0,0,0,.2);
		border-top: 3px solid #333300;
		border-bottom: 3px solid #333300;
		padding:0 0 5px 0;
	}
		




/*
	User detail styles
*/

.user-detail-scene {
	background-image: url(../images/theme/bg-user-detail.png);
	background-attachment: fixed;
	min-height:480px;

}


#user-detail-container {
	padding:8px 8px;
}


#user-detail {
	padding: 10px 0px;
	clear:both;
	overflow:hidden;
	color:#000;
	margin:0 0px 6px;
/*	background-color: rgba(50,50,14,.9) !important;*/
}

	#user-detail-image {
		float:left;
		width:48px;
		height:48px;
		border:2px double #333;
/*		-webkit-box-shadow:0px 1px 5px #000;*/
		background-image:url('../images/theme/details-image-generic.png');
		opacity:.9;
		display:block;
	}

	#user-detail-info {
		margin-left: 64px;
		margin-right:10px;
	}
		#user-detail-name {
			font-size:14pt;
/*			font-weight:bold;*/
		}
        #user-detail-location, #user-detail-homepage {
			font-size:10pt;
			font-weight:bold;
			font-family:"Coconut Condensed";
			display:inline-block;
			color:#ffffcc;
			background-color:rgba(32,32,32,.7);
/*			-webkit-border-radius:6pt;*/
			padding:2pt 5pt;
			text-decoration:none;
			margin-left:2px;
		}
		#user-detail-description {
			margin-top:.3em;
			line-height:130%;
			font-size:10pt;
			margin-left:5px;
		}

	#user-detail-actions {
		margin:8px 8px;
		background-color:rgba(0,0,0,.2);
		border-top: 3px solid #333300;
	}

	#user-timeline {
	}
		#user-timeline div.timeline-entry {
			min-height:24px;
			padding: 6px 12px;
			border-width: 0px;
			border-style: solid;
			border-color: transparent !important;
			background:none !important;
/*			-webkit-box-shadow:none;*/
		}
			#user-timeline .user {
				display:none;
			}
			#user-timeline .status {
				margin-left:0px;
			}
			#user-timeline .status .screen-name {
				display:none;
			}
			#user-timeline div.timeline-entry .status .meta {
				color:#FFFFCC;
/*				-webkit-border-top-right-radius:6pt;
				-webkit-border-bottom-right-radius:6pt;
*/				padding:2pt 4pt 2pt 6pt;
				background-color: rgba(34,34,0,.5);
				
			}
					#user-timeline div.timeline-entry .status .meta:active {
						color:#444444;
						background-color: rgba(153,153,102,.5);
					}
			








/*
	Post panel styles
*/
#palm-dialog-box.post-panel {
	display:none;
}
		
	#post-panel-irt { /* "in-reply-to" */
	
	}

		#post-panel-irt-prefix {}
		#post-panel-irt-message {
			color:#666;
		}
		#post-panel-irt-dismiss {
			color:white;
			background-color:#666;
			height:12px;
			width: 16px;
			padding-bottom:4px;
/*			-webkit-border-radius:8px;*/
			display:inline-block;
			text-align:center;
			vertical-align:20%;
			
		} 
			#post-panel-irt-dismiss:active {
				background-color:#333;
			}
		
	#post-panel-textarea {
		width:265px;
		height:5em;
		margin-bottom:0px;
	}
	
	#post-panel-counter {
		font-family:"Coconut Condensed";
		font-size:10pt;
	}
		#post-panel-counter.over-limit {
			color:#990000;
		}
		
		#post-panel-counter-number {
			font-weight:bold;
		}
		

/*
	misc
*/
div.spaz-view-menu-spacer {
	height:38px;
}

#activity-spinner {
	position:absolute;
	right:5px;
	top:  38px;
}

div.spaz-view-menu-container {
	top:0px;
	height: 38px;
	z-index:11001;
	position:fixed;	
	width:  100%;
	background-color:rgba(0,0,0,1);
/*	-webkit-box-shadow:0px 1px 5px #000;*/

}

	div.spaz-view-menu {
		top: 6px;
		left:5px;
		position:relative;
/*		border:1px solid yellow;*/
	
	}
		div.spaz-view-menu-label {
			-webkit-border-image: url(../images/theme/spaz-viewmenu-label-bg.png) 2 0 2 5;
			height:19px;
			color:white;
			font-size:14px;
			font-weight:bold;
			text-transform: uppercase;
			float:left;
			padding:0px;
			margin-right: -3px;
			min-width:225px;
		}
			div.spaz-view-menu-label-text { 
				position:relative;
				top: 3px;
				left:7px;
			}
	
		div.spaz-view-menu-separator {
			background-image: url(../images/theme/spaz-viewmenu-separator.png);
			height:24px;
			width:  1px;
			float:left;
			padding:0px;
			margin: 0px;

		}
		div.spaz-view-menu-button {
			-webkit-border-image: url(../images/theme/spaz-viewmenu-button-bg.png) 2 5 2 0;
			border-color:yellow;
			height:19px;
			width: 25px;
			float:left;
			padding:0;
			margin-left: -3px;
			text-align:center;
		}


div.spaz-button-group {
	margin:15px 0px;
}
	div.spaz-button-wide {
		height: 32px;
		margin:5px 8px;

/*		background-color: rgba(51,51,51,.8);*/
/*		padding: 8px 16px;*/
		color:  #FFECCD;
		font-family:"Coconut Condensed";
		font-size:12pt;
		line-height:24pt;
/*		-khtml-border-radius:16px;*/
		border-width: 0 18px 0 17px;
		-webkit-border-image: url(../images/theme/spaz-button-bg.png) 0 18 0 17;
	}
	div.spaz-button-wide:active {
		-webkit-border-image: url(../images/theme/spaz-button-bg-active.png) 0 18 0 17;
	}
	div.spaz-button-wide.open {
		-webkit-border-image: url(../images/theme/spaz-button-reveal.png) 0 18 0 17;
	}
		div.spaz-button-wide.open:active {
			-webkit-border-image: url(../images/theme/spaz-button-reveal-active.png) 0 18 0 17;
		}


div.spaz-row {
	height: 32px;
	margin: 2px 2px;
/*	background-color: rgba(51,51,51,.8);*/
/*	padding: 8px 16px;*/
	color:  #FFECCD;
	font-family:"Coconut Condensed";
	font-size:12pt;
	line-height:24pt;
/*	-khtml-border-radius:16px;*/
	border-width: 0 18px 0 17px;
/*	background-color:#444444;*/
	-webkit-border-image: url(../images/theme/spaz-button-bg.png) 0 18 0 17;
}
	
	
.spaz-activity-spinner {
	z-index:11002;
	width:auto;
/*	height:auto;*/
	right:5px;
	left: 5px;
	top:150px;
	bottom:150px;
	background-repeat: no-repeat;
	background-position: center center;
	position:fixed;
/*	-khtml-border-radius:14px;*/
	height:  24px;
	padding: 6px 0px 0px 35px;
	display:block;
	color:  rgba(255,255,255,.7);
	font-family:"Coconut Condensed";
	font-size:12pt;
	border-width: 0 17 0 17;
	-webkit-border-image: url(../images/theme/spaz-button-reveal-active.png) 0 17 0 17;
}


div.progress-panel {
	height: 24px;
	margin:5px 8px;

	padding: 8px 16px;
	border-width: 0 18px 0 18px;
	-webkit-border-image: url(../images/theme/spaz-roundeditem-darker-bg.png) 0 18 0 18;
	
/*	-khtml-border-radius:16px;*/
}
	div.progress-panel span.progress-panel-spinner {
		position:relative;
		top:5px;
		left:15px;
		display:block;
	}
	div.progress-panel span.progress-panel-label {
		margin-left:1em;
		color:  #FFFFFF;
		font-family:"Coconut Condensed";
		font-size:12pt;

	}