/* Put Application specific CSS here. */

BODY, .palm-scene {
	background-color: #EEEEFF;
	background-image: url('../images/theme/entry-even-bg.png');
	background-repeat: repeat-x;
}


a:link {
	color:#333399;
	text-decoration:none;
	cursor:pointer;
}


#menu {
	position:relative;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:10;
}



/*
	the .even and .odd classes are really only used in the timelines, but 
	they're usedful and probably could be reused elsewhere.
*/
div.timeline-entry:nth-of-type(odd), div.timeline-entry:first-of-type, .odd {
	background-color: #FFFFEE;
	border-top-color: #999966;
	background-image: url('../images/theme/entry-odd-bg.png');
	background-repeat: repeat-x;
}
div.timeline-entry:nth-of-type(even), .even {
	background-color: #EEEEFF;
	border-top-color: #666699;
	background-image: url('../images/theme/entry-even-bg.png');
	background-repeat: repeat-x;
}



/*************************************************
	Timeline entries are... entries in the timelines
*/
div.timeline-entry {
	padding: 10px 5px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #999966;
	clear:both;
	overflow:hidden;
	min-height:64px;
}

	div.timeline-entry:last-of-type {
		border-bottom-color: #666699;
		border-bottom-width: 2px;
		border-bottom-style: solid;
	}
	
	/*
		Entries that are replies directed at the user
	*/
	div.timeline-entry.reply {
		background-color: #EEEEAA;
		background-image: none;
	}
	/*
		Entries that are direct messages to the user
	*/
	div.timeline-entry.dm {
		background-color: #EEAAAA;
		background-image: none;
	}

	div.timeline-entry .user {
		width:48px;
		float:left;
		text-align:center;
		margin-top:4px;
		margin-left:3px;
	}
		div.timeline-entry .user img {
			width:48px;
			height:48px;
			border:2px double #333;
			background-color:#FFFFFF;
			-webkit-box-shadow:0px 1px 5px #333;
			background-image:url('images/userimg-bg.png');
			opacity:.9;
		}
	
	div.timeline-entry .status {
		margin-left:64px;
	}
		div.timeline-entry .status .text {
			font-size:11pt;
			line-height:130%;
		}
	div.timeline-entry .meta {
		margin-top:.3em;
		font-size:8pt;
		font-weight:bold;
		text-transform:uppercase;
		font-family:"Coconut Condensed";
		text-align:right;
		color:#666;
	}
	

	