/* Put Application specific CSS here. */

BODY, BODY>div[x-mojo-element=Scroller] {
	color:#222222;
	background-color:#FFFFFF;
	background-image: url('../images/whiteknight/page-bg.png');
}

BODY {
}

/*
	This is so we can have the view menu floating over the palm-page-header
*/
.palm-hasheader>.palm-menu-spacer {
	height:0px !important;
}
	/*
		view menu button needs to be smaller
	*/
	.view-menu .palm-menu-button {
		-webkit-border-image: url(../images/whiteknight/spaz-view-menu-button.png) 0 25 200 25 repeat repeat;
	}
		.view-menu .palm-menu-button.selected {
			-webkit-border-image: url(../images/whiteknight/spaz-view-menu-button.png) 50 25 150 25 repeat repeat;
		}
	
.view-menu .palm-menu-fade {
	background: transparent!important;
	padding-right:50px;
}

.command-menu .palm-menu-fade {
/*	background-image: url('../images/whiteknight/command-menu-gradient.png') !important;
	background-repeat: repeat-x !important;
	background-position-x: 0% !important;
	background-position-y: 100% !important;
*/}

div.palm-page-header {
	background:none;
}

div.palm-page-header.spaz-page-header {
	-webkit-border-image:url('../images/whiteknight/palm-page-header.png') 35 24 13 24 repeat stretch !important;
}
	div.palm-page-header.spaz-page-header .title {
		color:#660000;
/*		text-shadow: rgb(0,0,0) 0px 1px 0px;*/
		padding-left: 35px;
		text-transform: none;
		font-family:serif;
		font-size:20pt;
	}

a:link, a:visited, .clickable {
	color: #666699;
	text-decoration:underline;
}

#menu {
	position:relative;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:10;
}


.palm-dark .palm-group {
	-webkit-border-image: url(../images/whiteknight/palm-group.png) 40 18 14 18;	
}

.palm-popup-container {
	color:#111111;
}

.palm-dark {
	color:#222222;
}

	.palm-dark .palm-row {
		color:#222222;
	}
	
	.palm-dark .palm-group-title {
		color:#222222;
		text-shadow:none;
		font-family:serif;
	}

	/*
		override palm-dark divider styles
	*/
	.palm-dark .palm-divider .label {
		color: #444444; 
		font-family:serif;            
		text-shadow: none;
	}

	.palm-dark .palm-divider.collapsible .left-line {
		background-image: url(../images/whiteknight/palm-divider-collapse-left.png);	
	}

	.palm-dark .palm-arrow-expanded,
	.palm-dark .palm-arrow-closed {
		background-image: url(../images/whiteknight/palm-divider-arrow.png);	
	}

	.palm-dark .palm-divider.collapsible .line {
		background: url(../images/whiteknight/palm-divider-collapse-left.png) left -1px no-repeat;
	}


/*************************************************
	Timeline entries are... entries in the timelines
*/



div.timeline-entry {
	padding: 12px 20px 12px 16px;
/*	border-width: 1px 0 1px 0;*/
/*	border-style: solid;*/
/*	border-color: #333;*/
	clear:both;
	overflow:hidden;
	min-height:64px;
	color:#222222;
	position:relative;
	margin:0;
	background-image: url('../images/whiteknight/entry-gradient-bg_short.png');
	background-repeat: repeat-x;
	background-color:transparent;
	font-family:serif;
}
	div.timeline-entry:active {	}

	/*
		the .even and .odd classes are really only used in the timelines, but 
		they're usedful and probably could be reused elsewhere.
	*/
	div.timeline-entry:nth-of-type(odd), .odd {
/*		background-color: #EEEEEE;*/
	}
	div.timeline-entry:nth-of-type(even), .even {
/*		background-color: #25303f;*/
	}
	
	/*
		Entries that are replies directed at the user
	*/
	div.timeline-entry.reply:nth-of-type(odd),
	div.timeline-entry.reply:nth-of-type(even) {
		background-color: #FFFF66;
	}
	/*
		Entries that are direct messages to the user
	*/
	div.timeline-entry.dm:nth-of-type(odd),
	div.timeline-entry.dm:nth-of-type(even) {
		background-color: #FF6666;
	}
	
	div.timeline-entry.new {
		color:#333300;
/*		border-bottom:1px solid #FFFFCC;*/
	}
		div.timeline-entry.new:first-of-type {
			color:#333300;
/*			border-top:   1px solid #FFFFCC;*/
/*			border-bottom:1px solid #FFFFCC;*/
		}
		div.timeline-entry.new:nth-of-type(odd) {
/*			background-color: #2b3a3c;*/
		}
		div.timeline-entry.new:nth-of-type(even) {
/*			background-color: #25303f;*/
		}

		

	div.timeline-entry .user {
		float:left;
		text-align:center;
		width:48px;
		height:48px;
		border:1px solid #FFF;
		margin-top:4px;
		margin-left:5px;

	}
		div.timeline-entry .user img {
			width:48px;
			height:48px;
		}
	
	div.timeline-entry .status {
		margin-left:64px;
		margin-top:0px;
	}
	
		div.timeline-entry .status .meta-wrapper {
			overflow:hidden;
			margin-top:0px;
			/*
				height is set in tall/grande/venti
			*/
		}
		div.timeline-entry .status .screen-name {
			float:left;
			/*
				font sizes are set in tall/grande/venti
			*/
/*			font-weight:bold;*/
			color:#000033;
			text-transform: capitalize;
			position:relative;
/*			text-shadow: 0px 1px 4px #000;*/
		}
		div.timeline-entry .status .text {
			font-family:serif;
			/*
				font sizes are set in tall/grande/venti
			*/
		}
		.status .text a:link,
		.status .text a:visited,
		.status .text a:active,
		.status .text .clickable {
/*			color:#3333CC;
			text-decoration:underline;
*/		}
			.status .text a:active,
			.status .text .clickable:active {
/*				-webkit-border-image: url(../images/whiteknight/text-link-bg-active.png) 0 7 0 7;*/
			}

	div.timeline-entry .status .meta {
		float:right;
		position:relative;
		height:20px;
		padding:1px 0px;
		/*
			font sizes are set in tall/grande/venti
		*/
		text-transform:uppercase;
		font-family:serif;
		text-align:	right;
		color:#000033;
		background-position: right center;
		border-width: 0 7px 0 7px;
	}

			div.timeline-entry:active .status .meta,
			div.timeline-entry .status .meta:active {
/*				color:#FFFFCC;*/
			}
	
	div.timeline-entry div.protected-icon {
		height:12px;
		width: 11px;
		display:inline-block;
		margin-left:5px;
		background-image: url(../images/whiteknight/tiny-lock-icon.png);
		background-repeat: no-repeat;
	}
	
/*
	timeline entry font sizes
*/	
.timeline.tall div.timeline-entry .status .screen-name {
	font-size:12pt;
}
.timeline.tall div.timeline-entry .status .meta-wrapper {
	height:15pt;
}
.timeline.tall div.timeline-entry .status .text {
	font-size:13pt;
	line-height:15pt;
}
.timeline.tall div.timeline-entry .status .meta {
	font-size:	10pt;
}

.timeline.grande div.timeline-entry .status .screen-name {
	font-size:15pt;
}
.timeline.venti div.timeline-entry .status .meta-wrapper {
	height:17pt;
}
.timeline.grande div.timeline-entry .status .text {
	font-size:17pt;
	line-height:19pt;
}
.timeline.grande div.timeline-entry .status .meta {
	font-size:	12pt;
}

.timeline.venti div.timeline-entry .status .screen-name {
	font-size:17pt;
}
.timeline.venti div.timeline-entry .status .meta-wrapper {
	height:22pt;
}
.timeline.venti div.timeline-entry .status .text {
	font-size:20pt;
	line-height:22pt;
}
.timeline.venti div.timeline-entry .status .meta {
	font-size:	14pt;
}


#public-timeline div.timeline-entry {
	padding: 6px 6px;
	border:none !important;
	clear:both;
	overflow:hidden;
	min-height:64px;
	color:#222222;
	position:relative;
	margin:0;
	background-image: none !important;
	background-repeat: repeat-x;
	background-color: transparent !important;
}

	
	
/*
	login scene stuff
*/
#start-scene {
	color:#222222;
}

#splash-logo {
	opacity: .1;
	position:fixed;
	top:-30px;
	left:-50px;
	z-index:1;
}

#login-scene #status-panel {
	z-index:10;
	margin:5px 20px;
	padding:10px;
	border:1px solid rgba(255,255,204,.8);
	background: rgba(255,255,204,.3);
	color:#222222;
/*	-webkit-border-radius:10px;*/
	display:none;
	overflow: auto;
	height:30px;
}
	#login-scene #activity-spinner {
		float:left;
	}
	#login-scene #status-label {
		margin-left: 40px;
		margin-top:  8px;
		font-size:   12pt;
		display:block;
		vertical-align: -10%;
	}

	.palm-row .label {
/*		color:#9BB8CF;*/
		text-shadow: none;
	}
	
	.palm-row .truncating-text {
/*		color:#FFF;*/
	}
		.palm-row .focused input[type='text'] {
/*			color:#000;*/
		}
	
	.add-item .title {
		color:#222211;
	}
	
	.checkbox-container {
		margin:5px 10px;
	}
	.palm-row .checkbox-container {
		margin:0px;
	}

		.checkbox-label {
			margin:13px 0 0 0;
			font-size:12pt;
			color:#222222;
		}

	#trends-list {}
	#trends-list>li {
		
	}

/*
	simple styling widgets
*/
div.spaz-drawer-header {
	color:#CCC;
	display:block;
	margin:0;
	padding:12px 6px 12px 25px;
	font-size: 10pt;
	text-transform: uppercase;
	font-weight:  bold;
/*	-webkit-border-image: url(http://localhost:8888/usr/lib/mojo/framework/submissions/91/images/palm-menu-button.png) 0 25 150 25 stretch stretch;*/
}
	div.spaz-drawer-header.open {
		color:#FFC;
	}
	div.spaz-drawer-header.closed {
		
	}
	
div.spaz-drawer {
/*	-webkit-border-image: url(../images/whiteknight/drawer-background-9tile-opaque.png) 20 1 20 1 stretch stretch;*/
	-webkit-box-sizing: border-box;
	width:100%;
	padding:0;
	margin:0;
}

#login-button, #search-button {
	margin:0px !important;
}
.palm-list .palm-row .palm-button {
	margin:0px !important;
}



/*
	Message detail styles
*/
.message-detail-scene {
/*	background-image: url(../images/whiteknight/bg-message-detail.png);
	background-attachment: fixed;
	min-height:480px;
*/}

#message-detail-container {
	background-image: url('../images/whiteknight/entry-gradient-bg_short.png');
	background-repeat: repeat-x;
/*	background-color:#EEFFFF;*/
	min-height:480px;
	padding:8px 0px;
}


#message-detail {
	padding: 10px 0px;
	clear:both;
	overflow:hidden;
	font-family:serif;
/*	color:#000;*/
/*	background-color: rgba(50,50,14,.9) !important;*/
}

	#message-detail .user-image {
		float:left;
		margin-left:8px;
		width:48px;
		height:48px;
		border:1px solid #333;
/*		-webkit-box-shadow:0px 1px 5px #000;*/
/*		background-image:url('../images/whiteknight/details-image-generic.png');*/
		opacity:.9;
		display:block;
	}
	
	#message-detail .status {
		margin-left: 64px;
		margin-right:10px;
	}
		#message-detail .status .screen_name {
			font-size:14pt;
			font-weight:bold;
		}
		#message-detail .status .text {
			margin-top:.3em;
			line-height:140%;
			font-size:13pt;
		}

		#message-detail .status .meta {
			font-size:11pt;
			margin-top: .3em;
			padding-top:.3em;
			border-top:  1px solid #999999;
		}
		
			
			#message-detail .status .meta .date {
			}
		
			#message-detail .status .meta .in-reply-to {
			}

	        #message-detail .status .meta .clickable,
			#message-detail .status .meta a:link,
			#message-detail .status .meta a:visited {
/*				color:#3333CC;
				text-decoration:underline;
*/			}
				#message-detail .status .meta .clickable:active,
				#message-detail .status .meta a:active, {
/*					-webkit-border-image: url(../images/whiteknight/text-link-bg-active.png) 0 7 0 7;*/
				}

			#message-detail .status .meta .protected-icon {
				display:block;
				margin:5px 0px;
				padding-left:18px;
				background-image: url(../images/whiteknight/tiny-lock-icon.png);
				background-repeat: no-repeat;
				background-position: 0px 2px;
			}


	#message-detail-actions {
/*		clear:both;
		margin:8px 0px;
		left:0px;
		right:0px;
		background-color:rgba(0,0,0,.5);
		border-top: 3px solid #333333;
		border-bottom: 3px solid #333333;
		padding:0 0 5px 0;
*/	}
		




/*
	User detail styles
*/

.user-detail-scene {
/*	background-image: url(../images/whiteknight/bg-user-detail.png);
	background-attachment: fixed;
*/	min-height:480px;

}


#user-detail-container {
	padding:8px 0px;
	background-image: url('../images/whiteknight/entry-gradient-bg_short.png');
	background-repeat: repeat-x;
/*	background-color:#FFFFEE;*/
	min-height:480px;
}


#user-detail {
	padding: 10px 0px;
	clear:both;
	overflow:hidden;
	font-family:serif;
/*	color:#000;*/
	margin:0 0px 6px;
/*	background-color: rgba(50,50,14,.9) !important;*/
}

	#user-detail-image {
		float:left;
		margin-left:8px;
		width:48px;
		height:48px;
		border:1px single #333;
/*		-webkit-box-shadow:0px 1px 5px #000;*/
/*		background-image:url('../images/whiteknight/details-image-generic.png');*/
		opacity:.9;
		display:block;
	}

	#user-detail-info {
		margin-left: 64px;
		margin-right:10px;
		overflow:visible;		
	}

		#user-detail-info .protected-icon {
			display:block;
			margin:5px 0px;
			padding-left:18px;
			background-image: url(../images/whiteknight/tiny-lock-icon.png);
			background-repeat: no-repeat;
			background-position: 0px 2px;
			font-size: 10pt;
		}

		#user-detail-info a:link,
		#user-detail-info a:visited,
		#user-detail-info a:active,
		#user-detail-info .clickable {
/*			color:#3333CC;
			text-decoration:underline;
*/		}
			#user-detail-info a:active,
			#user-detail-info .clickable:active {
/*				-webkit-border-image: url(../images/whiteknight/text-link-bg-active.png) 0 7 0 7;*/
			}

		#user-detail-name {
			font-size:14pt;
			font-weight:bold;
		}
        #user-detail-location, #user-detail-homepage {
			font-size:12pt;
			font-weight:bold;
			font-family:"Coconut-CondensedMedium";
			display:inline-block;
			color:#CCCCFF;
/*			-webkit-border-radius:6pt;*/
			padding:2pt 0pt;
/*			text-decoration:none;*/
			margin-left:0px;
		}
		#user-detail-description {
			margin-top:.3em;
			line-height:140%;
			font-size:  13pt;
			margin-left:0px;
		}

	#user-detail-actions {
/*		clear:both;
		margin:8px 0px;
		left:0px;
		right:0px;
		background-color:rgba(0,0,0,.5);
		border-top: 3px solid #333333;
		border-bottom: 3px solid #333333;
		padding:0 0 5px 0;
*/	}

	#user-timeline {
		text-align: left;
	}
		#user-timeline div.timeline-entry {
			min-height:24px;
			padding: 6px 12px;
			border-width: 0px;
			border-style: solid;
			border-color: transparent !important;
			background:none !important;
/*			-webkit-box-shadow:none;*/
		}
			#user-timeline .user {
				display:none;
			}
			#user-timeline .status {
				margin-left:0px;
			}
			#user-timeline .status .screen-name {
				display:none;
			}
			#user-timeline div.timeline-entry .status .meta {
				color:#FFFFCC;
/*				-webkit-border-top-right-radius:6pt;
				-webkit-border-bottom-right-radius:6pt;
*/				padding:2pt 4pt 2pt 6pt;
/*				background-color: rgba(34,34,0,.5);*/
				
			}
					#user-timeline div.timeline-entry .status .meta:active {
						color:#444444;
/*						background-color: rgba(153,153,102,.5);*/
					}
			





/*
	Palm dialog text field stuff
*/
#palm-dialog-content .textfield-group .truncating-text {
	color:#333;
}
#palm-dialog-content .textfield-group .hint-text {
	color:#AAA;
}

.dialog-error {
	margin:6px 0px;
	font-size:12pt;
	color:#990000;
}

/*
	Post panel styles
*/
#palm-dialog-box.post-panel {
	display:none;
}
		
	#post-panel-irt { /* "in-reply-to" */
		margin:0px 10px 4px;
		line-height:13px;
	}

		#post-panel-irt-prefix {
			color:#999;
			font-size:14px;
			font-weight: bold;		
		}
		#post-panel-irt-message {
			color:#999;
			font-size:14px;
			font-family:serif;
		}
		#post-panel-irt-dismiss {
			color:white;
			display:inline-block;
			font-size:18px;
			background-color:#666;
			height:16px;
			line-height:10px;
			width: 18px;
			margin-bottom:4px;
			text-align:center;
		} 
			#post-panel-irt-dismiss:active {
				background-color:#333;
			}
		
	
	#post-textfield, #post-textfield textarea {
		color:#FFF;
		font-size:18px;
		font-family:serif;
	}
	
	#post-panel-meta {
		overflow:auto;
	}
		#post-panel-counter {
			font-family:"Coconut-CondensedMedium";
			font-size:14px;
			margin:5px 10px;
			float:left;
		}
			#post-panel-counter.over-limit {
				color:#99CCCC;
			}
		
			#post-panel-counter-number {
				font-weight:bold;
			}
		#post-panel-attachment {
			font-size:14px;
			margin:2px 10px;
			text-align:right;
			font-family:serif;
		}
			#post-panel-attachment-dismiss {
				color:white;
				display:inline-block;
				font-size:18px;
				background-color:#666;
				height:16px;
				line-height:10px;
				width: 18px;
				margin-bottom:4px;
				text-align:center;
			} 
				#post-panel-attachment-dismiss:active {
					background-color:#333;
				}
			
	#post-image-service-help {
		font-size:.9em;
	}
	

/*
	misc
*/
div.spaz-view-menu-spacer {
	height:38px;
}

#activity-spinner {
	position:absolute;
	right:5px;
	top:  38px;
}

div.spaz-view-menu-container {
	top:0px;
	height: 38px;
	z-index:11001;
	position:fixed;	
	width:  100%;
	background-color:rgba(0,0,0,1);
/*	-webkit-box-shadow:0px 1px 5px #000;*/

}

	div.spaz-view-menu {
		top: 6px;
		left:5px;
		position:relative;
/*		border:1px solid yellow;*/
	
	}
		div.spaz-view-menu-label {
			-webkit-border-image: url(../images/whiteknight/spaz-viewmenu-label-bg.png) 2 0 2 5;
			height:19px;
			color:white;
			font-size:14px;
			font-weight:bold;
			text-transform: uppercase;
			float:left;
			padding:0px;
			margin-right: -3px;
			min-width:225px;
		}
			div.spaz-view-menu-label-text { 
				position:relative;
				top: 3px;
				left:7px;
			}
	
		div.spaz-view-menu-separator {
			background-image: url(../images/whiteknight/spaz-viewmenu-separator.png);
			height:24px;
			width:  1px;
			float:left;
			padding:0px;
			margin: 0px;

		}
		div.spaz-view-menu-button {
			-webkit-border-image: url(../images/whiteknight/spaz-viewmenu-button-bg.png) 2 5 2 0;
			border-color:yellow;
			height:19px;
			width: 25px;
			float:left;
			padding:0;
			margin-left: -3px;
			text-align:center;
		}


div.spaz-button-group {
	margin:15px 0px;
}
	div.spaz-button-wide {
		height: 32px;
		margin:5px 8px;

/*		background-color: rgba(51,51,51,.8);*/
/*		padding: 8px 16px;*/
		color:  #FFECCD;
		font-family:"Coconut-CondensedMedium";
		font-size:12pt;
		line-height:24pt;
/*		-khtml-border-radius:16px;*/
		border-width: 0 18px 0 17px;
		-webkit-border-image: url(../images/whiteknight/spaz-button-bg.png) 0 18 0 17;
	}
	div.spaz-button-wide:active {
		-webkit-border-image: url(../images/whiteknight/spaz-button-bg-active.png) 0 18 0 17;
	}
	div.spaz-button-wide.open {
		-webkit-border-image: url(../images/whiteknight/spaz-button-reveal.png) 0 18 0 17;
	}
		div.spaz-button-wide.open:active {
			-webkit-border-image: url(../images/whiteknight/spaz-button-reveal-active.png) 0 18 0 17;
		}


div.spaz-row {
	height: 48px;
	margin: 2px 2px;
	color:  #FFECCD;
	font-family:"Coconut-CondensedMedium";
	font-size:16pt;
	line-height:40pt;
	border-width: 0 21px 0 21px;
	-webkit-border-image: url(../images/whiteknight/spaz-button-large-bg.png) 0 21 0 21;
	font-family:serif;
}
	div.spaz-row:active {
		-webkit-border-image: url(../images/whiteknight/spaz-button-large-active-bg.png) 0 21 0 21;
	}
	div.spaz-row-title {
		font-size:15pt;
		line-height:24pt;
	}
	div.spaz-row-subtitle {
		font-size:11pt;
		line-height:5pt;
	}
	
	
.spaz-activity-spinner {
	z-index:11002;
	width:auto;
/*	height:auto;*/
	right:5px;
	left: 5px;
	top:150px;
	bottom:150px;
	background-repeat: no-repeat;
	background-position: center center;
	position:fixed;
/*	-khtml-border-radius:14px;*/
	height:  24px;
	padding: 6px 0px 0px 35px;
	display:block;
	color:  rgba(255,255,255,.7);
	font-family:serif;
	font-size:12pt;
	border-width: 0 17 0 17;
	-webkit-border-image: url(../images/whiteknight/spaz-button-reveal-active.png) 0 17 0 17;
}


div.inline-spinner {
	height: 24px;
	margin:5px 8px;

	padding: 6px 16px 10px;
	border-width: 0 18px 0 18px;
	-webkit-border-image: url(../images/whiteknight/spaz-roundeditem-darker-bg.png) 0 18 0 18;
	
/*	-khtml-border-radius:16px;*/
}
	div.inline-spinner span.inline-spinner-spinner {
		position:relative;
		top:5px;
		left:15px;
		display:block;
	}
	div.inline-spinner span.inline-spinner-label {
		margin-left:1em;
		color:  #FFFFFF;
		font-family:"Coconut-CondensedMedium";
		font-size:12pt;

	}
	
	

div.error_info {
	font-size:9pt;
	border:1px solid #666;
	background: #FFCCCC;
	padding:3px;
	margin: 3px 0px;
}
	div.error_info .human_msg {
		font-size:11pt;
	}
	
	div.error_info .row {
		overflow:hidden;
	}
	div.error_info .label {
		font-weight:bold;
		width:75px;
		overflow: hidden;
		float:left;
		text-align:right;
		margin-right:3px;
		text-wrap:none;
	}
	div.error_info .value {
		float:left;
		overflow:none;
		text-wrap:none;
	}
	
	
	
/*
	Start scene
*/


#start-smallprint {
	font-size:70%;
	margin-top:.2em;
	line-height:1.2em;
	font-family:serif;
}
	#start-smallprint a:link,
	#start-smallprint a:visited {
/*		color:#3333CC;
		text-decoration:underline;
*/	}
		#start-smallprint a:active, {
/*			-webkit-border-image: url(../images/whiteknight/text-link-bg-active.png) 0 7 0 7;*/
		}
#new-username, #new-password {
	color:#333333;
}
		
/*
	about scene
*/
#about-content {
	font-size:75%;
	line-height:1.3em;
	font-family:serif;
}
	#about-content a:link,
	#about-content a:visited {
/*		color:#3333CC;
		text-decoration:underline;
*/
	}
		#about-content a:active, {
/*			-webkit-border-image: url(../images/whiteknight/text-link-bg-active.png) 0 7 0 7;*/
		}
		
		
/*
	Help scene
*/

#help-scene .palm-body-text {
	color:#BBB;
	font-family:serif;

}

.img_icon {
	display:none;
	position:absolute;
	left:30px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/spaz-icon-alpha_32.png) no-repeat center ;
	padding: 10px 0px 0px 5px;
	float:left;	
}
.list_scene {
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_email {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_phone {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-phone.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_web {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}



/*
	Filtering for timelines
*/
.filter-timeline-all {}
	.filter-timeline-all div.timeline-entry       { display:block; }
	.filter-timeline-all div.timeline-entry.reply { display:block; }
	.filter-timeline-all div.timeline-entry.dm    { display:block; }

.filter-timeline-replies-dm {}
	.filter-timeline-replies-dm div.timeline-entry       { display:none; }
	.filter-timeline-replies-dm div.timeline-entry.reply { display:block; }
	.filter-timeline-replies-dm div.timeline-entry.dm    { display:block; }

.filter-timeline-replies {}
	.filter-timeline-replies div.timeline-entry       { display:none; }
	.filter-timeline-replies div.timeline-entry.reply { display:block; }
	.filter-timeline-replies div.timeline-entry.dm    { display:none; }
	
.filter-timeline-dms {}
	.filter-timeline-replies div.timeline-entry       { display:none; }
	.filter-timeline-replies div.timeline-entry.reply { display:none; }
	.filter-timeline-replies div.timeline-entry.dm    { display:block; }



/* Popup notifications */ 
.notification-panel    { 
        background: #000; 
        color: #fff; 
        overflow: hidden; 
        padding: 15px; 
        top: 0; 
        width: 320px; 
} 
.notification-container                { 
        width: 290px; 
        height: 48px; 
        padding: 0; 
        position: fixed; 
        top: 10px; 
        display: table-cell; 
        vertical-align: middle; 
} 
.notification-container .notification-icon    { 
        width: 48px; 
        height: 48px; 
        margin-right: 5px; 
        float: left; 
        background: url(../images/dashboard-icon-news.png) top left no-repeat; 
} 
.notification-container .notification-title    { 
        width: 230px; 
        height: 18px; 
        margin-top: 5px; 
        margin-bottom: 3px; 
        padding-bottom:5px; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap; 
        color: #fff; 
        font-size: 16px; 
        font-weight: bold; 
} 
.notification-container .notification-subtitle    { 
        margin-top:-5px; 
        width: 230px; 
        height: 18px; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        color: #fff; 
        font-size: 14px; 
        white-space: nowrap; 
} 
.notification-container .notification-title span, 
.notification-container .notification-subtitle span { 
        font-weight: normal; 
} 

/* Dashboard notifications */
.palm-dashboard-icon { 
  background: url(../images/spaz-icon-alpha_48.png); 
} 
BODY.palm-dashboard-notification, BODY.palm-dashboard-notification>div[x-mojo-element=Scroller] {	
	background-image: none;
	background-color:#000000;
	color:#FFFFFF;
}


/*
	Accordion 
*/
/* root element for accordion. decorated with rounded borders and gradient background image */
#search-accordion {
/*	background:#333 url(/img/global/gradient/h600.png) 0 0;*/
/*	border:1px solid #333;*/
}

/* accordion header */
#search-accordion table {
}

/* currently active header */
#search-accordion table.current {
}
	/* we cheat a little to make .current closed be the same as .palm-arrow-expanded */
	#search-accordion table.current .palm-arrow-closed { 
		height: 32px;
		width: 56px;
		background: url(/usr/lib/mojo/framework/current/images/palm-divider-arrow.png) center -64px repeat-x;
	}

/* accordion pane */
#search-accordion div.pane {
	display:none;
}

/* a title inside pane */
#search-accordion div.pane h3 {
/*	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
*/}
