<div class="palm-dark">
	<!-- <div class="palm-page-header spaz-page-header">
		<div class="palm-page-header-wrapper">
			<div id="appIcon" class="img_icon"></div>
			<div class="title">
				<span id="my-timeline-username"></span>
			</div>
		</div>		
	</div> -->
	<div x-mojo-element="FilterField" id="timeline-filter"></div>
	<div id="activity-spinner-my-timeline-container" class='spaz-activity-spinner-container'>
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div id="activity-spinner-my-timeline" x-mojo-element="Spinner"></div>
				<div id="activity-spinner-my-timeline-title" class="title"></div>
			</div>
		</div>
	</div>

<div id="my-timeline" class="timeline" x-mojo-element="List"></div>
<div id="post-popup-container"></div>

</div>