<div id='panel' class="palm-menu-panel sliding " x-mojo-menupanel="" style='z-index: 11000'>
	<div class="palm-menu-panel-wrapper">
		<br/>
		<div id="accountList" name="userlist" x-mojo-element='List'></div>
	</div>	
</div>

<div class="">	
	<div class='refresh-text-overlay'></div>
	<div id='releaseText' class='palm-info-text refresh-text' style='display:none'>
		{{release to refresh}}
	</div>
	<div class='timeline-content'>
		<div id="activity-spinner-my-timeline-container" class='spaz-activity-spinner-container'>
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="activity-spinner-my-timeline" x-mojo-element="Spinner"></div>
					<div id="activity-spinner-my-timeline-title" class="title"></div>
				</div>
			</div>
		</div>

		<div id="my-timeline" class="timeline" x-mojo-element="List"></div>
		<div x-mojo-element="Button" id='more-mytimeline-button' style="display:none">More</div>
	</div>
</div>