<div x-mojo-element="Spinner" id="login-spinner" class="spaz-activity-spinner"></div>


<!-- <img id="splash-logo" src="images/spaz-icon-alpha_320.png" /> -->

<div id="login-scene">

	<div id="main" class="palm-hasheader">
		<div class="palm-header left" id="main-hdr">
		  Spaz:Home
		</div>
	</div>


	<div id="show-login-button" class="spaz-button-wide closed">Log-in</div>

	<div id="login-panel" class='spaz-drawer'><!-- </div> -->

		<div class='palm-row' id="username-row">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							username
						</div>
						<div id="username" name="username" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							password
						</div>
						<div id="password" name="password" x-mojo-element="PasswordField"></div>
					</div>
				</div>
			</div>
		</div>

		<button class="palm-button" id="login-button">Login</button>
		<div id="spinner-container"></div>
		
	</div>

	<div id="show-search-button" class="spaz-button-wide">Search Twitter</div>

	<div id="search-panel" class='spaz-drawer'>
		<div class='palm-row' id="search-row">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							search terms
						</div>
						<div id="search" name="search" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
		<button class="palm-button" id="search-button">Search</button>
		
	</div>

	<div id="show-trends-button" class="spaz-button-wide closed">Current Trends</div>

	<div id="trends-panel" class='spaz-drawer'>
		<div id="trends-list" class="spaz-button-group">
		</div>
	</div>

	<div id="status-panel">
		<div x-mojo-element="Spinner" id="activity-spinner"></div>
		<span id="status-label"></span>
	</div>

</div>