<div class="">
	<div id="activity-spinner-friends-followers-container" class='spaz-activity-spinner-container'>
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div id="activity-spinner-friends-followers" x-mojo-element="Spinner"></div>
				<div id="activity-spinner-friends-followers-title" class="title"></div>
			</div>
		</div>
	</div>
	
    <div id="friends-followers-timeline" class="timeline" x-mojo-element="List"></div>
	<div x-mojo-element="Button" id='more-friends-followers-button'>More</div>
</div>