<div id="about-scene" class="palm-dark">


	<div class="palm-text-wrapper">
			<div class="title" id="about-version"></div>
	</div>

	
	<div id="about-content" class="palm-text-wrapper">
		You're running <a href="http://getspaz.com">Spaz for webOS</a>, an <strong><a href="http://www.opensource.org/">open source</a></strong> microblogging client for Twitter, Idenit.ca, and StatusNet hosts.<br><br>
		
		If you find bugs or have ideas for features, <a href="http://funkatron.com/spaz-webos/issues">let us know</a>!<br><br>

		Spaz is created by volunteers.  Any <a href='http://getspaz.com/donate'>donations</a> are used to cover hosting costs and compensate our contributors when possible.<br><br>
        
        <a href='http://getspaz.com/donate'><img alt='Click here to lend your support to: Spaz: An open source microblogging client and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/8477.png?skin_name=chrome' border='0' /></a><br><br>
        
		Spaz is <strong><a href="http://www.opensource.org/">open source software</a></strong> with a New BSD-style license. We need volunteers to participate in the development process. If you're interested in helping, please join the <a href="http://groups.google.com/group/spaz-mobile">Spaz Mobile Google Group</a>.<br><br>

		<strong>License</strong><br>

		Copyright (c) 2007-2010, Edward Finkler, Funkatron Productions<br><br>

		All rights reserved.<br><br>

		Redistribution and use in source and binary forms, with or without
		modification, are permitted provided that the following conditions are met:
		<ul>
			<li>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</li>

			<li>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</li>

			<li>Neither the name of Edward Finkler, Funkatron Productions nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.</li>
		</ul>

		THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
		AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
		IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
		DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
		FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
		DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
		SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
		CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
		OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
		OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
	</div>
</div>