<div id="about-content">
You are currently running a preview release of Spaz for webOS. We think this version is pretty darn good, but we have more planned for 1.0, including:

<ul>
	<li>Ping.FM integration</li>
	<li>Uploading photos and images</li>
	<li>Integration with Synergy</li>
	<li>Search history &amp; saved searches</li>
</ul>

Our plan is to charge $3 for the 1.0 version.<br><br>

Spaz is <strong><a href="http://www.opensource.org/">open source software</a></strong> with a New BSD-style license. We need volunteers to participate in the development process. If you're interested in helping, please join the <a href="http://groups.google.com/group/spaz-mobile">Spaz Mobile Google Group</a>.
</div>